In [1]:
from datetime import datetime
import datetime as dt
import os
from operator import itemgetter
import shutil 
import pickle
import time

from shapely.geometry import Point, Polygon
from osgeo import osr
from pyproj import Proj
from fiona.crs import from_epsg
from sklearn.cluster import KMeans
import geopandas as gpd
from affine import Affine
import xarray as xr
import numpy as np
from rasterio.features import rasterize
import fiona
import glob
from dask.distributed import Client
from datacube.drivers.netcdf import write_dataset_to_netcdf
from datacube.api import GridWorkflow

from madmex.wrappers import gwf_query
from madmex.util.xarray import to_float, to_int

2020-02-01 13:53:27,096 - datacube.drivers.driver_cache - driver_cache safe_load: Failed to resolve driver datacube.plugins.index::s3aio_index
2020-02-01 13:53:27,099 - datacube.drivers.driver_cache - driver_cache safe_load: Error was: UndefinedEnvironmentName("'extra' does not exist in evaluation environment.",)
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:37006 remote=tcp://127.0.0.1:40395>
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:37008 remote=tcp://127.0.0.1:40395>
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:37012 remote=tcp://127.0.0.1:40395>
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:37016 remote=tcp://127.0.0.1:40395>
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:37018 remote=tcp://127.0.0.1:40395>
/home/madmex_user/.local/lib/python3.6/site-packages/distributed/worker.py:3269: UserWarning: Large object of size 25.02 MB detected in task graph:
2020-02-01 14:18:55,987 - madmex.wrappers - loggerwriter write: /home/madmex_user/.local/lib/python3.6/site-packages/distributed/worker.py:3269: UserWarning: Large object of size 25.02 MB detected in task graph:
  (array([ True,  True,  True, ...,  True,  True,  T ... 08800, None),))
2020-02-01 14:18:55,991 - madmex.wrappers - loggerwriter write:   (array([ True,  True,  True, ...,  True,  True,  T ... 08800, None),))
Consider scattering large objects ahead of time
2020-02-01 14:18:55,993 - madmex.wrappers - loggerwriter write: Consider scattering large objects ahead of time
with client.scatter to reduce scheduler burden and
2020-02-01 14:18:55,995 - madmex.wrappers - loggerwriter write: with client.scatter to reduce scheduler burden and
keep data on workers
2020-02-01 14:18:55,998 - madmex.wrappers - loggerwriter write: keep data on workers

2020-02-01 14:18:56,001 - madmex.wrappers - loggerwriter write:
    future = client.submit(func, big_data)    # bad
2020-02-01 14:18:56,004 - madmex.wrappers - loggerwriter write:     future = client.submit(func, big_data)    # bad

2020-02-01 14:18:56,006 - madmex.wrappers - loggerwriter write:
    big_future = client.scatter(big_data)     # good
2020-02-01 14:18:56,011 - madmex.wrappers - loggerwriter write:     big_future = client.scatter(big_data)     # good
    future = client.submit(func, big_future)  # good
2020-02-01 14:18:56,015 - madmex.wrappers - loggerwriter write:     future = client.submit(func, big_future)  # good
  % (format_bytes(len(b)), s)
2020-02-01 14:18:56,017 - madmex.wrappers - loggerwriter write:   % (format_bytes(len(b)), s)
2020-02-01 14:44:18,023 - fiona._env - collection __init__: Normalized/laundered field name: 'features_id' to 'features_i'
2020-02-01 14:57:40,782 - fiona._env - collection __init__: Normalized/laundered field name: 'features_id' to 'features_i'

In [2]:
client = Client(n_workers=5,memory_limit='100GB')#use also threads_per_worker=1 
#https://stackoverflow.com/questions/53936237/managing-worker-memory-on-a-dask-localcluster

In [3]:
client

In [4]:
client.restart()

In [5]:
region = 'shp_puntos_martinez_simplify_0'
name_of_product = 's2_l2a_10m_scl_mexico'
begin = '2018-01-01'
end = '2019-12-31'
gwf_kwargs = {'region': region, 'product': name_of_product, 'begin': begin, 'end':end}
iterable = gwf_query(**gwf_kwargs)

In [6]:
lista_iter = list(iterable)

In [7]:
[lista_iter[x][0] for x in range(0,len(lista_iter))]

[(40, -31),
 (41, -31),
 (40, -30),
 (41, -30),
 (40, -32),
 (39, -31),
 (39, -30),
 (41, -32)]

# 1) Se elige el primer dc_tile de lista_iter para la generaci√≥n de segmentos clusterizados

In [8]:
date_today = datetime.today().strftime("%m-%d-%Y")

In [9]:
date_today

'02-01-2020'

In [10]:
index=0

In [11]:
var=lista_iter[0]

In [12]:
dc_tile = '%d_%d' % (var[0][0], var[0][1])

In [13]:
var

((40, -31), Tile<sources=<xarray.DataArray (time: 188)>
 array([(Dataset <id=a0da98d8-3b8e-4f9c-b7fe-3bb352072e06 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181004170824000000.nc>,),
        (Dataset <id=0320c527-1c9d-4bd7-b050-f4dbc6ffd87b type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181006170522000000.nc>,),
        (Dataset <id=042502ef-409b-4600-b234-3155de11f780 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181009171234000000.nc>,),
        (Dataset <id=07a02783-ebe2-421c-9614-1061c3d5c26f type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181014171122000000.nc>,),
        (Dataset <id=99d4e8a9-f239-4d1e-8024-6ffd32b59a72 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181024171027000000.nc>,),
        (Dataset <id=4bc8d458-a886-4376-aeba-1336b4f03aef type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181031170221000000.nc>,),
        (Dataset <id=5e56ff33-2bb5-4571-b29c-bd92acc5af73 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181105170045000000.nc>,),
        (Dataset <id=44e91f7d-901c-47af-9a21-c8f9b0f9993d type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181108171803000000.nc>,),
        (Dataset <id=1caa32e5-fb0b-439b-9f3d-b01e89bd361a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181108171817000000.nc>,),
        (Dataset <id=07b7fbf7-551b-47c2-920d-178574642dff type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181115170806000000.nc>,),
        (Dataset <id=bc28d521-47ec-49a0-8f16-522047633a0b type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181123171818000000.nc>,),
        (Dataset <id=c5359578-3476-4f44-bff1-5b30b0d1db07 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181125170819000000.nc>,),
        (Dataset <id=e10efe1c-dd6e-4362-9da0-e415b7f3f756 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181130170805000000.nc>,),
        (Dataset <id=d60fa5c5-0aed-47ad-8d4f-6f57e3ce0c2b type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181130170808000000.nc>,),
        (Dataset <id=52c661c6-97f8-4df2-8d2b-ca4ddb2f130a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181130170819000000.nc>,),
        (Dataset <id=7104cdb3-2166-4253-b511-69dc32e380e7 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181203171802000000.nc>,),
        (Dataset <id=4e1969ff-f5a7-475d-9626-c7bb0944ab9b type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181203171817000000.nc>,),
        (Dataset <id=18aa202e-0583-40d8-95e2-33a997aae14d type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181208171759000000.nc>,),
        (Dataset <id=d5f96d72-10db-4b39-a18b-bcaf6e27a4cd type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181208171813000000.nc>,),
        (Dataset <id=01c1f6f0-f409-4d26-815c-e3e0de67120e type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181215170800000000.nc>,),
        (Dataset <id=50b9fb55-8306-4424-aa39-7b8186312a18 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181215170803000000.nc>,),
        (Dataset <id=cab54e98-6dca-4677-a538-66f05ab9b124 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181218171759000000.nc>,),
        (Dataset <id=7787f30c-26d0-4358-940d-c41e318700eb type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181218171813000000.nc>,),
        (Dataset <id=0895f8d2-648b-4ed7-9c6d-eedd0e428361 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181220170804000000.nc>,),
        (Dataset <id=7a6913d2-486e-43e8-ac4e-f9623cb3e97a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181220170807000000.nc>,),
        (Dataset <id=2f08beea-8dcb-4249-9849-ee38a354f10d type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181220170819000000.nc>,),
        (Dataset <id=089670fe-aa6a-4e5a-b4e5-eecf183d8185 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181220170822000000.nc>,),
        (Dataset <id=c2924e03-0162-48c2-b5d5-84f41879077f type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181223171803000000.nc>,),
        (Dataset <id=0f1ea834-bad7-40ae-8929-c411dc28ebb5 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181230170821000000.nc>,),
        (Dataset <id=c7fc31c1-a409-40b9-a2f2-9bf2cec5dda5 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20181230170824000000.nc>,),
        (Dataset <id=06d55211-d993-4f08-9f19-94c8f2c90840 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190102171820000000.nc>,),
        (Dataset <id=4f6c1e6b-b6f4-42ae-b2e1-a9624e7c55ca type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190107171802000000.nc>,),
        (Dataset <id=d330f353-0203-444b-915c-fbf3d8cf7a73 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190107171817000000.nc>,),
        (Dataset <id=4b94b2b2-31b9-4606-8f8f-d81478980130 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190112171821000000.nc>,),
        (Dataset <id=fb67c695-b05e-402b-9ba5-c880a43954ec type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190119170809000000.nc>,),
        (Dataset <id=5cb7364c-2cfb-40b0-8d98-49c7cb5a50a2 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190119170812000000.nc>,),
        (Dataset <id=8835f87b-cf89-4c7e-956e-062329ce183c type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190119170823000000.nc>,),
        (Dataset <id=952689c6-35bd-44e0-ba75-a842044a6f4b type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190122171807000000.nc>,),
        (Dataset <id=eaba1905-f4a5-40d0-8e30-9e3b4df422e0 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190124170823000000.nc>,),
        (Dataset <id=3b37a6f7-efa0-4676-84b6-f417a0d62833 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190203170806000000.nc>,),
        (Dataset <id=50aa7396-6d98-44ff-845c-d5a349c4f195 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190203170809000000.nc>,),
        (Dataset <id=6841603c-8bbf-46be-9a83-1c3a9e2581fd type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190203170820000000.nc>,),
        (Dataset <id=cf049135-f08a-43fe-9279-8eab3104727a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190203170824000000.nc>,),
        (Dataset <id=df0b19cb-812f-4208-ab0c-5fe6b04b71fb type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190206171804000000.nc>,),
        (Dataset <id=da1a1b49-b85f-49b0-90c7-b4dd0d3c7a66 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190206171819000000.nc>,),
        (Dataset <id=cc861bf7-6af2-4db5-8ea4-83e33ac74ef0 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190211171807000000.nc>,),
        (Dataset <id=d39e1e45-85a7-479f-af3f-2d288c899409 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190211171822000000.nc>,),
        (Dataset <id=e001da30-fc71-4c50-8206-df0c03e54f2d type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190213170809000000.nc>,),
        (Dataset <id=fdbfe4ac-d251-4cd4-9c88-e95b1f7f51ba type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190216171757000000.nc>,),
        (Dataset <id=c2e5c3e8-69d8-4fae-81ad-d7d53216ff17 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190216171804000000.nc>,),
        (Dataset <id=a67057f0-a002-412b-aa89-b074360aebba type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190216171818000000.nc>,),
        (Dataset <id=b2868473-b41d-413f-a62b-b8c2a9c994a6 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190218170826000000.nc>,),
        (Dataset <id=4b80df47-d2b6-438a-91f8-8d45fc9fbea1 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171803100000.nc>,),
        (Dataset <id=0e40b5d6-d7bf-4a85-a4c1-2ac7a46f45a3 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171811490000.nc>,),
        (Dataset <id=b00ea027-daa4-44f8-9ad7-c3ea0b99107f type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171811600000.nc>,),
        (Dataset <id=f255376f-2107-4c64-9fb1-72bd6087741b type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171817820000.nc>,),
        (Dataset <id=4a60a1f7-6097-4f31-a3a1-ae98f33ac2bb type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190228170822400000.nc>,),
        (Dataset <id=edfc7a49-f6e0-4789-bead-e22749844610 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190228170825520000.nc>,),
        (Dataset <id=4b279c0f-76f7-4cbd-b2b2-2398b9828304 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190303171820240000.nc>,),
        (Dataset <id=9d37666e-80e2-4aa6-9cff-cfc4c0fbe5f3 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190308171802220000.nc>,),
        (Dataset <id=42c3d611-8dc6-4901-9b3c-95fc050697dc type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190308171816760000.nc>,),
        (Dataset <id=3b9c67c8-14bf-4683-b8cf-449dd5d60ca8 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190310170806480000.nc>,),
        (Dataset <id=cd586ed7-d1fd-436f-8b2c-d601ddcc9e50 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190310170813200000.nc>,),
        (Dataset <id=de716765-f82e-4104-8c93-bf745d56a904 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190310170813450000.nc>,),
        (Dataset <id=4ffcad1d-1635-4e88-a0af-692b63f153f7 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190310170814720000.nc>,),
        (Dataset <id=74dfdaf9-f866-4622-a660-689d89dbc864 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190310170821370000.nc>,),
        (Dataset <id=147154d3-b23f-4505-b5d2-fc0f036edcc9 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190310170824460000.nc>,),
        (Dataset <id=17f41d5b-d84c-4d05-8e27-0cd772cdddc9 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190313171804950000.nc>,),
        (Dataset <id=905d1e02-ac97-409f-83ab-e6b4c0e5455a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190313171819480000.nc>,),
        (Dataset <id=1620e62b-1844-445e-8e52-83bbd4e49b42 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190318171819570000.nc>,),
        (Dataset <id=273236ab-d672-4810-ac1e-11ffc575bc39 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190323171822510000.nc>,),
        (Dataset <id=f951f29f-510f-4362-9986-cea2733c24d2 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190325170808420000.nc>,),
        (Dataset <id=13453038-778c-46c5-b856-adf59b50830a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190325170823000000.nc>,),
        (Dataset <id=113e1fc4-d7f5-4c6f-9d23-d3efd93af4a7 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190328171807370000.nc>,),
        (Dataset <id=05dccfa1-42ce-40c8-9acc-7f14a6bc60a9 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190330170811480000.nc>,),
        (Dataset <id=10eedbba-2e86-4d79-858f-2930f03604d7 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190330170814400000.nc>,),
        (Dataset <id=10867cac-989d-436d-83a8-b3ad1c92b8ee type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190330170826070000.nc>,),
        (Dataset <id=1859da43-1fef-43dc-a014-fe258f448b8f type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190330170829160000.nc>,),
        (Dataset <id=9b71f5ed-8cdd-4f3a-ba9a-a3005003eead type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190330170837420000.nc>,),
        (Dataset <id=679e5180-f94d-4103-88f8-e49a449b0f71 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190402171825020000.nc>,),
        (Dataset <id=43b07b89-7d14-42fe-8ba7-86d1e4af5c0c type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190404170810250000.nc>,),
        (Dataset <id=eb441393-7073-4685-b43d-ddd1a265b8b2 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190404170813240000.nc>,),
        (Dataset <id=c3699697-cc21-463e-b72e-226324777ddb type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190404170824830000.nc>,),
        (Dataset <id=c5faf3b8-c2d3-4f71-9867-cdc682b219d0 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190409170813650000.nc>,),
        (Dataset <id=06d67f0e-1213-475f-91e5-00948b8f46c2 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190409170816660000.nc>,),
        (Dataset <id=d44d3959-07e4-4a9e-9a51-fe90646c86cc type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190409170828200000.nc>,),
        (Dataset <id=d404f230-c9b3-4fa6-9fcf-5a43a419f5e9 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190412171812640000.nc>,),
        (Dataset <id=7abdfb1b-0ec0-44ec-bc92-aff0e1757219 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190412171827120000.nc>,),
        (Dataset <id=369e691d-68d1-423c-a057-d9572620c867 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190414170811770000.nc>,),
        (Dataset <id=01e756db-32e8-4bfa-a1a7-4fdee7fdc707 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190417171810450000.nc>,),
        (Dataset <id=31199991-650c-48d1-bd86-41e8bc105d83 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190417171824950000.nc>,),

In [14]:
sr_0 = GridWorkflow.load(var[1],dask_chunks={'x': 1600, 'y': 1600,'time': 60})

In [15]:
sr_0

<xarray.Dataset>
Dimensions:   (time: 188, x: 5002, y: 5002)
Coordinates:
  * time      (time) datetime64[ns] 2018-10-04T17:08:24 ... 2019-09-26T17:08:27.160000
  * y         (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x         (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    blue      (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    green     (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    red       (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    nir       (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    pixel_qa  (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
Attributes:
    crs:      PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS8...

In [16]:
crs = var[1].geobox.crs

In [17]:
sr_0.attrs['geobox'] = var[1].geobox

In [20]:
sr_0 = client.persist(sr_0)

**110gb is enough**

In [21]:
sr_0

<xarray.Dataset>
Dimensions:   (time: 188, x: 5002, y: 5002)
Coordinates:
  * time      (time) datetime64[ns] 2018-10-04T17:08:24 ... 2019-09-26T17:08:27.160000
  * y         (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x         (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    blue      (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    green     (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    red       (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    nir       (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    pixel_qa  (time, y, x) uint16 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
Attributes:
    crs:      PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS8...
    geobox:   GeoBox(Geometry({'type': 'Polygon', 'coordinates': [[(-97.40609...

In [22]:
#write_dataset_to_netcdf(sr_0.compute(),'/shared_volume/sr_0.nc')

In [23]:
sr_0 = sr_0.apply(func=to_float, keep_attrs=True)

In [24]:
sr_1 = sr_0.where(sr_0.pixel_qa.isin([2,4,5,6,7,8,11]))

In [25]:
sr_1['ndvi'] = ((sr_1.nir - sr_1.red) / (sr_1.nir + sr_1.red)) * 10000

In [26]:
sr_1['ndvi'].attrs['nodata'] = 0

In [27]:
sr_1

<xarray.Dataset>
Dimensions:   (time: 188, x: 5002, y: 5002)
Coordinates:
  * time      (time) datetime64[ns] 2018-10-04T17:08:24 ... 2019-09-26T17:08:27.160000
  * y         (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x         (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    blue      (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    green     (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    red       (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    nir       (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    pixel_qa  (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    ndvi      (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
Attributes:
    crs:      PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS8...
    geobox:   GeoBox(Geometry({'type': 'Polygon', 'coordinates': [[(-97.40609...

In [28]:
sr_1 = client.persist(sr_1)

In [29]:
sr_1

<xarray.Dataset>
Dimensions:   (time: 188, x: 5002, y: 5002)
Coordinates:
  * time      (time) datetime64[ns] 2018-10-04T17:08:24 ... 2019-09-26T17:08:27.160000
  * y         (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x         (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    blue      (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    green     (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    red       (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    nir       (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    pixel_qa  (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
    ndvi      (time, y, x) float64 dask.array<chunksize=(60, 1600, 1600), meta=np.ndarray>
Attributes:
    crs:      PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS8...
    geobox:   GeoBox(Geometry({'type': 'Polygon', 'coordinates': [[(-97.40609...

# 2) C√°lculo de features por ejemplo el m√°ximo, m√≠nimo del NDVI en toda la serie de tiempo y el promedio NDVI

In [31]:
ndvi_max = sr_1.ndvi.max('time', keep_attrs=True, skipna=True)

In [32]:
ndvi_max

<xarray.DataArray 'ndvi' (y: 5002, x: 5002)>
dask.array<nanmax-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x        (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Attributes:
    nodata:   0

In [33]:
ndvi_max = client.persist(ndvi_max)

In [34]:
ndvi_max = ndvi_max.rename('ndvi_max')
ndvi_max.attrs['nodata'] = 0

In [35]:
ndvi_max

<xarray.DataArray 'ndvi_max' (y: 5002, x: 5002)>
dask.array<nanmax-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x        (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Attributes:
    nodata:   0

In [36]:
ndvi_min = sr_1.ndvi.min('time', keep_attrs=True, skipna=True)

In [37]:
ndvi_min = client.persist(ndvi_min)

In [38]:
ndvi_min

<xarray.DataArray 'ndvi' (y: 5002, x: 5002)>
dask.array<nanmin-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x        (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Attributes:
    nodata:   0

In [39]:
ndvi_min = ndvi_min.rename('ndvi_min')
ndvi_min.attrs['nodata'] = 0

In [40]:
ndvi_min

<xarray.DataArray 'ndvi_min' (y: 5002, x: 5002)>
dask.array<nanmin-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x        (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Attributes:
    nodata:   0

In [38]:
sr_0.geobox

GeoBox(5002, 5002, Affine(10.0, 0.0, 2977960.0,
       0.0, -10.0, 926120.0), PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS84",6378137,6556752.3141]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["standard_parallel_1",17.5],PARAMETER["standard_parallel_2",29.5],PARAMETER["latitude_of_origin",12],PARAMETER["central_meridian",-102],PARAMETER["false_easting",2500000],PARAMETER["false_northing",0]])

**check next lines to compute median, percentiles in the future**

In [36]:
#import dask.array as da

In [39]:
#ndvi_min_nan = da.nanmin(sr_1.ndvi, axis=0)

In [40]:
#ndvi_min_nan

dask.array<nanmin-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>

In [41]:
#ndvi_min_nan = client.persist(ndvi_min_nan)

In [42]:
#ndvi_min_nan

dask.array<nanmin-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>

In [43]:
#ndvi_median = sr_1.ndvi.median('time', keep_attrs=True, skipna=True)

In [ ]:
#ndvi_median = client.persist(ndvi_median)

In [ ]:
#ndvi_median

In [ ]:
#ndvi_median = ndvi_median.rename('ndvi_median')
#ndvi_median.attrs['nodata'] = 0

In [ ]:
#ndvi_median

In [41]:
ndvi_mean = sr_1.ndvi.mean('time', keep_attrs=True, skipna=True)

In [42]:
ndvi_mean = client.persist(ndvi_mean)

In [43]:
ndvi_mean

<xarray.DataArray 'ndvi' (y: 5002, x: 5002)>
dask.array<mean_agg-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x        (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Attributes:
    nodata:   0

In [44]:
ndvi_mean = ndvi_mean.rename('ndvi_mean')
ndvi_mean.attrs['nodata'] = 0

In [45]:
ndvi_mean

<xarray.DataArray 'ndvi_mean' (y: 5002, x: 5002)>
dask.array<mean_agg-aggregate, shape=(5002, 5002), dtype=float64, chunksize=(1600, 1600), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x        (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Attributes:
    nodata:   0

In [46]:
combined = xr.merge([ndvi_mean,
                     ndvi_min,
                     ndvi_max])

In [47]:
combined

<xarray.Dataset>
Dimensions:    (x: 5002, y: 5002)
Coordinates:
  * y          (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x          (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    ndvi_mean  (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>
    ndvi_min   (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>
    ndvi_max   (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>

In [48]:
combined.data_vars

Data variables:
    ndvi_mean  (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>
    ndvi_min   (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>
    ndvi_max   (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>

In [49]:
features = list(combined.data_vars)
s = '-'
features_string = s.join(features)

In [50]:
features_string

'ndvi_mean-ndvi_min-ndvi_max'

In [51]:
path_result = '/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/' + features_string + '/'

In [52]:
path_result_dc_tile = os.path.join(path_result, date_today 
                                   + '/' + dc_tile + '/')

In [53]:
path_result_dc_tile

'/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/'

In [54]:
if not os.path.exists(path_result_dc_tile):
    os.makedirs(path_result_dc_tile)

In [55]:
nc_filename = path_result_dc_tile + date_today + '_combined_' + dc_tile + '.nc'

In [56]:
nc_filename

'/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/02-01-2020_combined_40_-31.nc'

In [57]:
combined.attrs['crs'] = crs

In [58]:
write_dataset_to_netcdf(combined.compute(),nc_filename)

# 3) Leer segmentaci√≥n

In [59]:
path_seg = '/shared_volume/segmentation_antares3_results/bis_seg_mex_s2_10m_scl_10_18_09_19_sentinel_2_{}_2019.shp'.format(dc_tile)

In [60]:
path_seg

'/shared_volume/segmentation_antares3_results/bis_seg_mex_s2_10m_scl_10_18_09_19_sentinel_2_40_-31_2019.shp'

In [61]:
with fiona.open(path_seg) as src:
    fc = list(src)

In [62]:
fc_subset=((x['properties']['id'], x['geometry']) for x in fc)

In [63]:
fc_sorted = sorted(fc_subset, key=itemgetter(0))

In [64]:
fc_sorted[0]

(0,
 {'type': 'Polygon',
  'coordinates': [[(2978000.0, 876160.0),
    (2978010.0, 876160.0),
    (2978010.0, 876120.0),
    (2978000.0, 876120.0),
    (2977980.0, 876120.0),
    (2977980.0, 876100.0),
    (2977960.0, 876100.0),
    (2977960.0, 876140.0),
    (2977980.0, 876140.0),
    (2977990.0, 876140.0),
    (2977990.0, 876150.0),
    (2978000.0, 876150.0),
    (2978000.0, 876160.0)]]})

In [65]:
len([k[0] for k in fc_sorted])

538023

**First position of fc_sorted is id, second position is geometry**

In [66]:
iterable_zip = zip([k[1] for k in fc_sorted], [k[0] for k in fc_sorted])

In [67]:
sr_0.affine

Affine(10.0, 0.0, 2977960.0,
       0.0, -10.0, 926120.0)

In [68]:
list(sr_0.affine)

[10.0, 0.0, 2977960.0, 0.0, -10.0, 926120.0, 0.0, 0.0, 1.0]

In [69]:
list(sr_0.affine)[0:6]

[10.0, 0.0, 2977960.0, 0.0, -10.0, 926120.0]

In [70]:
aff = Affine(*list(sr_0.affine)[0:6])

In [71]:
dimensions_dataset = list(sr_0.coords)
list_dimensions = [x for x in dimensions_dataset if x != 'time']
lambda_function = lambda l_netcdf,l_test: l_netcdf[0] if l_netcdf[0] in l_test else l_netcdf[1]
xdim = lambda_function(list_dimensions,['x','longitude'])
ydim = lambda_function(list_dimensions,['y','latitude'])

In [72]:
fc_raster = rasterize(iterable_zip, transform=aff,
                      out_shape=(sr_0.sizes[ydim], sr_0.sizes[xdim]),
                      dtype='float64', fill=np.nan)

In [73]:
fc_raster

array([[5.37885e+05, 5.37885e+05, 5.37282e+05, ..., 5.37673e+05,
        5.37673e+05, 5.37673e+05],
       [5.37885e+05, 5.37885e+05, 5.37282e+05, ..., 5.37673e+05,
        5.37673e+05, 5.37673e+05],
       [5.37885e+05, 5.37885e+05, 5.37282e+05, ..., 5.37673e+05,
        5.37673e+05, 5.37673e+05],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 8.11000e+02,
        8.11000e+02, 8.11000e+02],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 8.11000e+02,
        8.11000e+02, 8.11000e+02],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 8.11000e+02,
        8.11000e+02, 8.11000e+02]])

In [74]:
fc_raster = fc_raster.astype(int)

In [75]:
fc_raster

array([[537885, 537885, 537282, ..., 537673, 537673, 537673],
       [537885, 537885, 537282, ..., 537673, 537673, 537673],
       [537885, 537885, 537282, ..., 537673, 537673, 537673],
       ...,
       [     0,      0,      0, ...,    811,    811,    811],
       [     0,      0,      1, ...,    811,    811,    811],
       [     0,      0,      1, ...,    811,    811,    811]])

In [76]:
fc_dataarray = xr.DataArray(fc_raster, dims=[ydim, xdim], name='features_id')

In [77]:
fc_dataarray

<xarray.DataArray 'features_id' (y: 5002, x: 5002)>
array([[537885, 537885, 537282, ..., 537673, 537673, 537673],
       [537885, 537885, 537282, ..., 537673, 537673, 537673],
       [537885, 537885, 537282, ..., 537673, 537673, 537673],
       ...,
       [     0,      0,      0, ...,    811,    811,    811],
       [     0,      0,      1, ...,    811,    811,    811],
       [     0,      0,      1, ...,    811,    811,    811]])
Dimensions without coordinates: y, x

# 4) Construcci√≥n de dataframes para pasar al kmeans

In [78]:
combined = xr.merge([fc_dataarray,combined])

In [79]:
combined

<xarray.Dataset>
Dimensions:      (x: 5002, y: 5002)
Coordinates:
  * x            (x) float64 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
  * y            (y) float64 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
Data variables:
    features_id  (y, x) int64 537885 537885 537282 537282 ... 811 811 811 811
    ndvi_mean    (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>
    ndvi_min     (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>
    ndvi_max     (y, x) float64 dask.array<chunksize=(1600, 1600), meta=np.ndarray>

In [80]:
combined = combined.stack(z=(xdim, ydim))
combined = combined.reset_index('z')
combined = combined.drop([xdim,ydim])

In [81]:
combined

<xarray.Dataset>
Dimensions:      (z: 25020004)
Dimensions without coordinates: z
Data variables:
    features_id  (z) int64 537885 537885 537885 537282 ... 811 811 811 811
    ndvi_mean    (z) float64 dask.array<chunksize=(2000800,), meta=np.ndarray>
    ndvi_min     (z) float64 dask.array<chunksize=(2000800,), meta=np.ndarray>
    ndvi_max     (z) float64 dask.array<chunksize=(2000800,), meta=np.ndarray>

In [82]:
combined = combined.where((np.isfinite(combined['features_id'])), drop=True)

In [83]:
combined

<xarray.Dataset>
Dimensions:      (z: 25020004)
Dimensions without coordinates: z
Data variables:
    features_id  (z) float64 5.379e+05 5.379e+05 5.379e+05 ... 811.0 811.0 811.0
    ndvi_mean    (z) float64 dask.array<chunksize=(2000800,), meta=np.ndarray>
    ndvi_min     (z) float64 dask.array<chunksize=(2000800,), meta=np.ndarray>
    ndvi_max     (z) float64 dask.array<chunksize=(2000800,), meta=np.ndarray>

In [84]:
df = combined.to_dataframe()

**See recommendation of using scatter with client, screenshot taken in desktop of lap's Erick**

In [85]:
df.head()

   features_id    ndvi_mean     ndvi_min     ndvi_max
z
0     537885.0  7497.716885  4984.894260  8746.208291
1     537885.0  7799.393099  5715.453802  8825.995807
2     537885.0  7705.309446  5475.648612  8677.685950
3     537282.0  6898.643743  4761.154856  8443.597219
4     537282.0  6475.216811  4147.121535  8202.472436

In [86]:
len(df.index)

25020004

In [87]:
features

['ndvi_mean', 'ndvi_min', 'ndvi_max']

**A partir de aqu√≠ se puede cerrar la conexi√≥n con client de dask**

In [30]:
#client.close()

In [88]:
df2 = df.groupby('features_id').agg({features[0]: 'median',
                                    features[1]: 'median',
                                    features[2]: 'median'})

In [89]:
df2.head()

               ndvi_mean     ndvi_min     ndvi_max
features_id
0.0          5713.245835  2357.071214  8822.684853
1.0          5074.610973  2184.786384  8533.178114
2.0          4781.271702  1456.722660  8611.947284
3.0          6398.678016  2108.266427  8448.201008
4.0          4987.369208  1551.788250  7403.809376

In [90]:
df2 = df2.reset_index('features_id')

In [91]:
df2.head()

   features_id    ndvi_mean     ndvi_min     ndvi_max
0          0.0  5713.245835  2357.071214  8822.684853
1          1.0  5074.610973  2184.786384  8533.178114
2          2.0  4781.271702  1456.722660  8611.947284
3          3.0  6398.678016  2108.266427  8448.201008
4          4.0  4987.369208  1551.788250  7403.809376

In [92]:
len(df2.index)

538023

**Convert to geopandas dataframe fc of bis segmentation**

In [93]:
var[1].geobox.crs.crs_str

'PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS84",6378137,6556752.3141]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["standard_parallel_1",17.5],PARAMETER["standard_parallel_2",29.5],PARAMETER["latitude_of_origin",12],PARAMETER["central_meridian",-102],PARAMETER["false_easting",2500000],PARAMETER["false_northing",0]]'

In [94]:
gdf = gpd.GeoDataFrame.from_features([feature for feature in fc], 
                                      crs = var[1].geobox.crs.crs_str)

In [95]:
gdf.head()

                                            geometry      id
0  POLYGON ((2977960.000 926120.000, 2977980.000 ...  537885
1  POLYGON ((2978250.000 926120.000, 2978420.000 ...  537675
2  POLYGON ((2978440.000 926120.000, 2978510.000 ...  537799
3  POLYGON ((2978610.000 926120.000, 2978650.000 ...  537676
4  POLYGON ((2979320.000 926120.000, 2979340.000 ...  537886

In [96]:
len(gdf.index)

538023

In [97]:
gdf = gdf.rename(columns={'id':'features_id'})

In [98]:
gdf.head()

                                            geometry  features_id
0  POLYGON ((2977960.000 926120.000, 2977980.000 ...       537885
1  POLYGON ((2978250.000 926120.000, 2978420.000 ...       537675
2  POLYGON ((2978440.000 926120.000, 2978510.000 ...       537799
3  POLYGON ((2978610.000 926120.000, 2978650.000 ...       537676
4  POLYGON ((2979320.000 926120.000, 2979340.000 ...       537886

In [150]:
gdf.crs

'PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS84",6378137,6556752.3141]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["standard_parallel_1",17.5],PARAMETER["standard_parallel_2",29.5],PARAMETER["latitude_of_origin",12],PARAMETER["central_meridian",-102],PARAMETER["false_easting",2500000],PARAMETER["false_northing",0]]'

**Intersecci√≥n con √°rea de inter√©s**

In [99]:
aoi='/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/shp_puntos_martinez_simplify_lcc.shp'

In [100]:
gdf_aoi = gpd.read_file(aoi)

In [101]:
gdf_aoi.head()

,CVE_MUN,Municip,DstrtDR,Ecoregn,ZonadVd,Name,Obsrvcn,geometry
0,None,None,None,None,None,None,None,"MULTIPOLYGON (((2986835.636 925733.198, 298454..."

In [102]:
gdf_aoi.crs

{'proj': 'lcc',
 'lat_1': 17.5,
 'lat_2': 29.5,
 'lat_0': 12,
 'lon_0': -102,
 'x_0': 2500000,
 'y_0': 0,
 'datum': 'WGS84',
 'units': 'm',
 'no_defs': True}

https://gis.stackexchange.com/questions/266730/filter-by-bounding-box-in-geopandas

http://geopandas.org/set_operations.html

In [103]:
bbox = gdf.total_bounds

In [104]:
p1 = Point(bbox[0], bbox[3])
p2 = Point(bbox[2], bbox[3])
p3 = Point(bbox[2], bbox[1])
p4 = Point(bbox[0], bbox[1])
np1 = (p1.coords.xy[0][0], p1.coords.xy[1][0])
np2 = (p2.coords.xy[0][0], p2.coords.xy[1][0])
np3 = (p3.coords.xy[0][0], p3.coords.xy[1][0])
np4 = (p4.coords.xy[0][0], p4.coords.xy[1][0])

In [105]:
bb_polygon = Polygon([np1, np2, np3, np4])

In [106]:
gdf_bb = gpd.GeoDataFrame(gpd.GeoSeries(bb_polygon), columns=['geometry'])

In [107]:
gdf_bb

                                            geometry
0  POLYGON ((2977960.000 926120.000, 3027980.000 ...

In [108]:
gdf_aoi_intersect = gpd.overlay(gdf_bb,gdf_aoi,how='intersection')

In [109]:
gdf_aoi_intersect

,CVE_MUN,Municip,DstrtDR,Ecoregn,ZonadVd,Name,Obsrvcn,geometry
0,None,None,None,None,None,None,None,"MULTIPOLYGON (((3008631.202 926120.000, 302074..."

In [34]:
#gdf_aoi_intersect.plot()¬†#descartes package needed for geopandas plot

In [110]:
start_time=time.time()
gdf_intersect = gpd.overlay(gdf,gdf_aoi_intersect,how='intersection')
end_time=time.time()

In [111]:
secs = end_time-start_time

In [112]:
secs

452.7877757549286

In [113]:
gdf_intersect.head()

,features_id,CVE_MUN,Municip,DstrtDR,Ecoregn,ZonadVd,Name,Obsrvcn,geometry
0,537885,None,None,None,None,None,None,None,"POLYGON ((2977960.000 926120.000, 2977980.000 ..."
1,537675,None,None,None,None,None,None,None,"POLYGON ((2978250.000 926120.000, 2978420.000 ..."
2,537799,None,None,None,None,None,None,None,"POLYGON ((2978440.000 926120.000, 2978510.000 ..."
3,537676,None,None,None,None,None,None,None,"POLYGON ((2978610.000 926120.000, 2978650.000 ..."
4,537886,None,None,None,None,None,None,None,"POLYGON ((2979320.000 926120.000, 2979340.000 ..."

In [114]:
len(gdf_intersect.index)

208008

In [115]:
gdf_intersect_reduced = gpd.GeoDataFrame()

In [116]:
gdf_intersect_reduced['features_id'] = gdf_intersect['features_id']
gdf_intersect_reduced['geometry'] = gdf_intersect['geometry']

In [117]:
gdf_intersect_reduced.head()

   features_id                                           geometry
0       537885  POLYGON ((2977960.000 926120.000, 2977980.000 ...
1       537675  POLYGON ((2978250.000 926120.000, 2978420.000 ...
2       537799  POLYGON ((2978440.000 926120.000, 2978510.000 ...
3       537676  POLYGON ((2978610.000 926120.000, 2978650.000 ...
4       537886  POLYGON ((2979320.000 926120.000, 2979340.000 ...

In [118]:
len(gdf_intersect_reduced.index)

208008

In [42]:
#start_time=time.time()
#gdf_intersect2 = gpd.overlay(gdf,gdf_aoi,how='intersection')
#end_time=time.time()

In [43]:
#secs = end_time-start_time

In [44]:
#secs

553.786865234375

In [148]:
gdf_intersect_reduced.crs

**Join df with fc in geopandas dataframe form**

In [119]:
gdf_df_join = gdf_intersect_reduced.merge(df2, on='features_id', how='left')

In [120]:
gdf_df_join.head()

,features_id,geometry,ndvi_mean,ndvi_min,ndvi_max
0,537885,"POLYGON ((2977960.000 926120.000, 2977980.000 ...",7511.008475,5017.644266,8728.280139
1,537675,"POLYGON ((2978250.000 926120.000, 2978420.000 ...",6973.082111,4899.799599,8439.416367
2,537799,"POLYGON ((2978440.000 926120.000, 2978510.000 ...",6930.858565,2623.810925,9064.791655
3,537676,"POLYGON ((2978610.000 926120.000, 2978650.000 ...",6209.316944,4308.028741,7732.793522
4,537886,"POLYGON ((2979320.000 926120.000, 2979340.000 ...",6841.346950,5490.895325,8038.980963

In [121]:
len(gdf_df_join.index)

208008

In [149]:
gdf_df_join.crs

# 5) Unsupervised clustering with Kmeans

In [122]:
nclusters=4

In [123]:
kmeans = KMeans(n_clusters=nclusters, n_jobs=10)

In [124]:
kmeans.fit(gdf_df_join[features].values)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=4, n_init=10, n_jobs=10, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

**Write model fit**

In [125]:
model_filename = path_result_dc_tile + date_today + '_model_' +  dc_tile + '_nclusters_%d' % nclusters + '.pkl'

In [126]:
model_filename

'/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/02-01-2020_model_40_-31_nclusters_4.pkl'

In [127]:
pickle.dump(kmeans, open(model_filename, "wb"))

**Predict with model**

In [128]:
model_filename = path_result_dc_tile + date_today + '_model_' +  dc_tile + '_nclusters_%d' % nclusters + '.pkl'

In [129]:
model_filename

'/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/02-01-2020_model_40_-31_nclusters_4.pkl'

In [130]:
kmeans = pickle.load(open(model_filename, "rb"))

**Predict**

In [131]:
preds = kmeans.predict(gdf_df_join[features].values)

In [132]:
preds

array([2, 2, 0, ..., 0, 0, 0], dtype=int32)

In [133]:
gdf_df_clusters = gdf_df_join.drop(features,axis=1)

In [134]:
gdf_df_clusters.head()

   features_id                                           geometry
0       537885  POLYGON ((2977960.000 926120.000, 2977980.000 ...
1       537675  POLYGON ((2978250.000 926120.000, 2978420.000 ...
2       537799  POLYGON ((2978440.000 926120.000, 2978510.000 ...
3       537676  POLYGON ((2978610.000 926120.000, 2978650.000 ...
4       537886  POLYGON ((2979320.000 926120.000, 2979340.000 ...

In [135]:
gdf_df_clusters['preds'] = preds

In [136]:
gdf_df_clusters.head()

   features_id                                           geometry  preds
0       537885  POLYGON ((2977960.000 926120.000, 2977980.000 ...      2
1       537675  POLYGON ((2978250.000 926120.000, 2978420.000 ...      2
2       537799  POLYGON ((2978440.000 926120.000, 2978510.000 ...      0
3       537676  POLYGON ((2978610.000 926120.000, 2978650.000 ...      2
4       537886  POLYGON ((2979320.000 926120.000, 2979340.000 ...      2

In [137]:
len(gdf_df_clusters.index)

208008

# 6) Write results to file

**Geopackage**

In [138]:
path_results_geopackage = '/home/madmex_user/agriculture_geopackages/features_computed/' + features_string + '/'

In [139]:
path_results_geopackage

'/home/madmex_user/agriculture_geopackages/features_computed/ndvi_mean-ndvi_min-ndvi_max/'

In [140]:
path_result_geopackage = os.path.join(path_results_geopackage, date_today 
                                       + '/' + dc_tile + '/')

In [141]:
path_result_geopackage

'/home/madmex_user/agriculture_geopackages/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/'

In [142]:
if not os.path.exists(path_result_geopackage):
    os.makedirs(path_result_geopackage)

In [168]:
clusters_filename = path_result_geopackage + date_today + '_clusters_' +  dc_tile + '_nclusters_%d' % nclusters + '.gpkg'

In [169]:
clusters_filename

'/home/madmex_user/agriculture_geopackages/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/02-01-2020_clusters_40_-31_nclusters_4.gpkg'

In [170]:
layer_name = date_today + '_clusters_' +  dc_tile + '_nclusters_%d' % nclusters

In [171]:
layer_name

'02-01-2020_clusters_40_-31_nclusters_4'

In [147]:
gdf_df_clusters.crs

In [151]:
gdf_df_clusters.crs=gdf_aoi.crs

In [167]:
gdf_df_clusters.crs

{'proj': 'lcc',
 'lat_1': 17.5,
 'lat_2': 29.5,
 'lat_0': 12,
 'lon_0': -102,
 'x_0': 2500000,
 'y_0': 0,
 'datum': 'WGS84',
 'units': 'm',
 'no_defs': True,
 'wktext': True}

In [176]:
#try:
#    string_wkt = gdf_df_clusters.crs
#    srs = osr.SpatialReference()
#    srs.ImportFromWkt(string_wkt)
#    srs.MorphToESRI()
#    p = Proj(srs.ExportToWkt())
#except:
#    p = Proj(gdf_df_clusters.crs)

In [177]:
#if not p.crs.is_geographic:
#    gdf_df_clusters.crs = from_epsg(4326)
#    gdf_df_clusters.to_crs(gdf_df_clusters.crs)

In [212]:
#gdf_df_clusters.crs = from_epsg(4326)

In [172]:
start_time=time.time()

gdf_df_clusters.to_file(clusters_filename,
                        layer=layer_name,
                        driver='GPKG')
end_time=time.time()

In [173]:
secs = end_time-start_time
secs

98.28087639808655

In [174]:
shutil.move(clusters_filename,path_result_dc_tile)

'/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/02-01-2020_clusters_40_-31_nclusters_4.gpkg'

**Shapefile**

In [156]:
clusters_filename = path_result_dc_tile + date_today + '_clusters_' +  dc_tile + '_nclusters_%d' % nclusters + '.shp'

In [157]:
clusters_filename

'/LUSTRE/MADMEX/tasks/2020/1_clusterization_for_agriculture_labeling/features_computed/ndvi_mean-ndvi_min-ndvi_max/02-01-2020/40_-31/02-01-2020_clusters_40_-31_nclusters_4.shp'

In [162]:
gdf_df_clusters.crs=gdf_aoi.crs

In [163]:
gdf_df_clusters.crs

{'proj': 'lcc',
 'lat_1': 17.5,
 'lat_2': 29.5,
 'lat_0': 12,
 'lon_0': -102,
 'x_0': 2500000,
 'y_0': 0,
 'datum': 'WGS84',
 'units': 'm',
 'no_defs': True}

In [191]:
#try:
#    string_wkt = gdf_df_clusters.crs
#    srs = osr.SpatialReference()
#    srs.ImportFromWkt(string_wkt)
#    srs.MorphToESRI()
#    p = Proj(srs.ExportToWkt())
#except:
#    p = Proj(gdf_df_clusters.crs)

In [192]:
#if not p.crs.is_geographic:
#    gdf_df_clusters.crs = from_epsg(4326)
#    gdf_df_clusters.to_crs(gdf_df_clusters.crs)

In [193]:
#gdf_df_clusters.crs

{'init': 'epsg:4326', 'no_defs': True}

In [164]:
#gdf_df_clusters.to_crs(gdf_df_clusters.crs)

In [165]:
start_time=time.time()
gdf_df_clusters.to_file(clusters_filename)
end_time=time.time()

In [166]:
secs = end_time-start_time
secs

178.3230493068695