In [1]:
from madmex.wrappers import gwf_query
import datacube
from datetime import datetime
import xarray as xr
from madmex.util.xarray import to_float, to_int
from datacube.api import GridWorkflow

In [2]:
dc = datacube.Datacube()

In [85]:
options = {}
name_of_product = 'recipe_s2_10m_scl_Veracruz_sample_2019_2'
#name_of_product = 'l7_oax_50km_no_gaps_recipe_0405'
#x = (-96.93511962890624, -96.536865234375)
#y = (16.909683615558635, 17.19852235364461)
x = (-97.833251953125, -96.6522216796875)
y = (19.756364230752375, 20.648205934292623)
options['lat'] = y
options['long'] = x
options['region'] = None
options['begin'] = "2019-01-1"
options['end'] = "2019-12-1"
band_list = None

In [86]:
gwf_kwargs = { k: options[k] for k in ['lat', 'long', 'region', 'begin', 'end']}
gwf_kwargs.update(product=name_of_product)
iterable = gwf_query(**gwf_kwargs)

In [87]:
gwf_kwargs

{'lat': (19.756364230752375, 20.648205934292623),
 'long': (-97.833251953125, -96.6522216796875),
 'region': None,
 'begin': '2019-01-1',
 'end': '2019-12-1',
 'product': 'recipe_s2_10m_scl_Veracruz_sample_2019_2'}

In [88]:
len(iterable)

7

In [89]:
list(iterable)[3][0]

(40, -31)

In [90]:
tile = list(iterable)[3][1]

In [91]:
tile

Tile<sources=<xarray.DataArray (time: 1)>
array([(Dataset <id=2d6ff737-665c-5088-b6c9-1adb5ef2e01a type=recipe_s2_10m_scl_Veracruz_sample_2019_2 location=file://shared_volume/datacube/datacube_ingest/recipes/recipe_s2_10m_scl_Veracruz_sample_2019_2/s2_10m_scl_ndvi_mean_001_40_-31_2019-07-02.nc>,)],
      dtype=object)
Coordinates:
  * time     (time) datetime64[ns] 2019-07-02,
	geobox=GeoBox(5002, 5002, Affine(10.0, 0.0, 2977960.0,
       0.0, -10.0, 926120.0), PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS84",6378137,6556752.3141]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["standard_parallel_1",17.5],PARAMETER["standard_parallel_2",29.5],PARAMETER["latitude_of_origin",12],PARAMETER["central_meridian",-102],PARAMETER["false_easting",2500000],PARAMETER["false_northing",0]])>

In [92]:
geoarray = GridWorkflow.load(tile, measurements=band_list)

In [93]:
geoarray

<xarray.Dataset>
Dimensions:    (time: 1, x: 5002, y: 5002)
Coordinates:
  * time       (time) datetime64[ns] 2019-07-02
  * y          (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x          (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    ndvi_mean  (time, y, x) int16 7138 7310 7233 7356 ... 6553 6581 6733 6544
Attributes:
    crs:      PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS8...

In [94]:
name_of_product = 's2_l2a_10m_scl_mexico'

In [107]:
gwf_kwargs = { k: options[k] for k in ['lat', 'long', 'region', 'begin', 'end']}
gwf_kwargs.update(product=name_of_product)
iterable = gwf_query(**gwf_kwargs, view=True)
#iterable = GridWorkflow.list_tiles(**gwf_kwargs)

In [108]:
#ds = dc.load(name_of_product, time=(datetime(2019, 1, 1), datetime(2019, 12, 1)),x=x,y=y)

In [110]:
list(iterable)[3]

((40, -31), Tile<sources=<xarray.DataArray (time: 35)>
 array([(Dataset <id=25e6c241-44e2-4771-94e0-7f5784d2386d type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190107171802000000.nc>,),
        (Dataset <id=c5d68368-e7c6-47da-902a-e4751972abb6 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190107171817000000.nc>,),
        (Dataset <id=bcafb379-52f8-4521-84c1-f75c9a01d5ce type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190124170823000000.nc>,),
        (Dataset <id=9b65c170-92d6-4615-873d-eebb7f21c3e8 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190203170806000000.nc>,),
        (Dataset <id=da83cb16-9243-4461-ae15-25263255becf type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190203170820000000.nc>,),
        (Dataset <id=63531b1e-75d9-45ca-b8a7-4e640ff35dc7 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190206171804000000.nc>,),
        (Dataset <id=f459c92a-d7f2-4656-ab34-efd5e88188f5 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190206171819000000.nc>,),
        (Dataset <id=86b316b7-2f01-4e73-b487-f3e3fe3d1cd4 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190213170809000000.nc>,),
        (Dataset <id=f87acdc5-3b05-447e-9da7-8f2b70cd105a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190216171757000000.nc>,),
        (Dataset <id=84b73aa0-3d7f-4bb7-8b8f-4ae3ec70d8e6 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190216171804000000.nc>,),
        (Dataset <id=4c753615-e9eb-49a0-aa76-16ffa5da68bd type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190216171818000000.nc>,),
        (Dataset <id=ec433036-7a38-4db9-90dc-672866c2fc69 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171803100000.nc>,),
        (Dataset <id=a8c91529-6c0b-47f4-b03e-9a4f80991f51 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171811490000.nc>,),
        (Dataset <id=e6609ea8-36c2-41eb-91df-0f2ae251bbbe type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171811600000.nc>,),
        (Dataset <id=e4bad31a-71e5-44a2-bc71-d2c3f3575199 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190226171817820000.nc>,),
        (Dataset <id=1d3de222-2706-459c-ae00-0b9557b9d9d0 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190308171802220000.nc>,),
        (Dataset <id=48db6972-e94a-4ae9-a8f7-fd6261240742 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190308171816760000.nc>,),
        (Dataset <id=d69e2c93-69b6-4340-b227-91d8f4516221 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190318171819570000.nc>,),
        (Dataset <id=8dc333e6-911f-453e-a085-bdbaccb06274 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190325170808420000.nc>,),
        (Dataset <id=12c04350-5e94-4481-91e2-5eecc796e1d1 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190325170823000000.nc>,),
        (Dataset <id=e3315cc0-c2a4-48de-a215-e03a78097e2c type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190328171807370000.nc>,),
        (Dataset <id=cacb310a-7fec-4423-8f3b-84312ec1be7e type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190404170810250000.nc>,),
        (Dataset <id=143e18b9-d9f2-443f-9cca-2b58ee07e697 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190404170813240000.nc>,),
        (Dataset <id=67e8e593-8460-4f16-8516-8e4ab852dcfe type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190404170824830000.nc>,),
        (Dataset <id=9dc2b4d5-ca3b-4a94-a9b2-44f3840ed0bc type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190414170811770000.nc>,),
        (Dataset <id=8cf697da-9fa2-4c05-a0f0-147c4a4e9ce5 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190427171825770000.nc>,),
        (Dataset <id=49d534a6-9935-40b3-a8e4-3229eaf18238 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190504170813270000.nc>,),
        (Dataset <id=4f734e11-d695-42d3-8232-14a0e61bc4a4 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190504170827800000.nc>,),
        (Dataset <id=2b1d7c9b-467a-4143-8bee-82eaf88ce4f4 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190504170830960000.nc>,),
        (Dataset <id=f319d7ff-31ca-410f-8643-2aedf1953f66 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190524170812670000.nc>,),
        (Dataset <id=8334b6f8-56cc-4b0b-85d9-eaa7f139996a type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190524170827260000.nc>,),
        (Dataset <id=21ae8639-714a-4eda-8411-85db5fdc11de type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190703170814350000.nc>,),
        (Dataset <id=0fc23075-394a-42a9-847f-945860e69255 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190723170814480000.nc>,),
        (Dataset <id=726d5499-8c39-46f4-9cbb-667e80d9bb93 type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190723170829080000.nc>,),
        (Dataset <id=55c988cb-4c28-4bad-ad23-bd233baae8ec type=s2_l2a_10m_scl_mexico location=file:///shared_volume/datacube/datacube_ingest/s2_l2a_10m_scl_s3/mexico/s2_l2a_10m_scl_s3_40_-31_20190802170828560000.nc>,)],
       dtype=object)
 Coordinates:
   * time     (time) datetime64[ns] 2019-01-07T17:18:02 ... 2019-08-02T17:08:28.560000,
 	geobox=GeoBox(5002, 5002, Affine(10.0, 0.0, 2977960.0,
        0.0, -10.0, 926120.0), PROJCS["unnamed",GEOGCS["WGS 84",DATUM["unknown",SPHEROID["WGS84",6378137,6556752.3141]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["standard_parallel_1",17.5],PARAMETER["standard_parallel_2",29.5],PARAMETER["latitude_of_origin",12],PARAMETER["central_meridian",-102],PARAMETER["false_easting",2500000],PARAMETER["false_northing",0]])>)

In [111]:
tile = list(iterable)[3]

In [120]:
sr_0 = xr.merge([GridWorkflow.load(tile[1], dask_chunks={'x': 1000, 'y': 1000},
                                   measurements=['red','nir','pixel_qa'])])

In [121]:
sr_0

<xarray.Dataset>
Dimensions:   (time: 35, x: 5002, y: 5002)
Coordinates:
  * time      (time) datetime64[ns] 2019-01-07T17:18:02 ... 2019-08-02T17:08:28.560000
  * y         (y) float64 9.261e+05 9.261e+05 9.261e+05 ... 8.761e+05 8.761e+05
  * x         (x) float64 2.978e+06 2.978e+06 2.978e+06 ... 3.028e+06 3.028e+06
Data variables:
    red       (time, y, x) uint16 dask.array<shape=(35, 5002, 5002), chunksize=(35, 1000, 1000)>
    nir       (time, y, x) uint16 dask.array<shape=(35, 5002, 5002), chunksize=(35, 1000, 1000)>
    pixel_qa  (time, y, x) uint16 dask.array<shape=(35, 5002, 5002), chunksize=(35, 1000, 1000)>

In [122]:
sr_0['time']

<xarray.DataArray 'time' (time: 35)>
array(['2019-01-07T17:18:02.000000000', '2019-01-07T17:18:17.000000000',
       '2019-01-24T17:08:23.000000000', '2019-02-03T17:08:06.000000000',
       '2019-02-03T17:08:20.000000000', '2019-02-06T17:18:04.000000000',
       '2019-02-06T17:18:19.000000000', '2019-02-13T17:08:09.000000000',
       '2019-02-16T17:17:57.000000000', '2019-02-16T17:18:04.000000000',
       '2019-02-16T17:18:18.000000000', '2019-02-26T17:18:03.100000000',
       '2019-02-26T17:18:11.490000000', '2019-02-26T17:18:11.600000000',
       '2019-02-26T17:18:17.820000000', '2019-03-08T17:18:02.220000000',
       '2019-03-08T17:18:16.760000000', '2019-03-18T17:18:19.570000000',
       '2019-03-25T17:08:08.420000000', '2019-03-25T17:08:23.000000000',
       '2019-03-28T17:18:07.370000000', '2019-04-04T17:08:10.250000000',
       '2019-04-04T17:08:13.240000000', '2019-04-04T17:08:24.830000000',
       '2019-04-14T17:08:11.770000000', '2019-04-27T17:18:25.770000000',
       '2019-05-04T17:08:13.270000000', '2019-05-04T17:08:27.800000000',
       '2019-05-04T17:08:30.960000000', '2019-05-24T17:08:12.670000000',
       '2019-05-24T17:08:27.260000000', '2019-07-03T17:08:14.350000000',
       '2019-07-23T17:08:14.480000000', '2019-07-23T17:08:29.080000000',
       '2019-08-02T17:08:28.560000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 2019-01-07T17:18:02 ... 2019-08-02T17:08:28.560000
Attributes:
    units:    seconds since 1970-01-01 00:00:00

In [ ]:
20190107T170701_T14QPG
20190107T170701_T14QPH
20190124T165601_T14QPG
20190203T165511_T14QQG
20190203T165511_T14QQH
20190206T170501_T14QPG
20190206T170501_T14QPH
20190213T165411_T14QPH
20190216T170401_T14QPG
20190216T170401_T14QPH
20190226T170251_T14QPG
20190226T170251_T14QPH
20190308T170131_T14QPG
20190308T170131_T14QPH
20190318T170021_T14QPG
20190325T164931_T14QQG
20190325T164931_T14QQH
20190328T170201_T14QPH
20190404T165211_T14QPH
20190404T165211_T14QQG
20190404T165211_T14QQH
20190414T164901_T14QQH
20190427T165901_T14QPG
20190504T164901_T14QPG
20190504T164901_T14QQG
20190504T164901_T14QQH
20190524T164901_T14QQG
20190524T164901_T14QQH
20190703T164901_T14QQH
20190723T164901_T14QQG
20190723T164901_T14QQH
20190802T164901_T14QQG
20190802T164901_T14QQH
20190812T164901_T14QQG
20190812T164901_T14QQH
20190822T164901_T14QQG
20190901T164901_T14QQG

# 5 nov 2019

In [2]:
import numpy as np
import xarray as xr
from datetime import datetime
import datetime as dt
import glob

## 1. Obtener un xarray dataset. Debe ser similar a datos preprocesados de algún satélite: landsat o sentinel2. Ahora se utilizan datos que no fueron registrados en la db del datacube

# 1a Datos aleatorios

In [2]:
date_list = [datetime(2019, 1, 1) + dt.timedelta(delta) for delta in range(6)]

xarr1 = xr.DataArray(np.random.rand(1667,1667), dims=['y', 'x'], coords = {'time':date_list[0]})
np.random.seed(1979)
xarr2 = xr.DataArray(np.random.rand(1667,1667), dims=['y', 'x'], coords = {'time':date_list[1]})
np.random.seed(1989)
xarr3 = xr.DataArray(np.random.rand(1667,1667), dims=['y', 'x'], coords = {'time':date_list[2]})
np.random.seed(1999)
xarr4 = xr.DataArray(np.random.rand(1667,1667), dims=['y', 'x'], coords = {'time':date_list[3]})
np.random.seed(2009)
xarr5 = xr.DataArray(np.random.rand(1667,1667), dims=['y', 'x'], coords = {'time':date_list[4]})
np.random.seed(2019)
xarr6 = xr.DataArray(np.random.rand(1667,1667), dims=['y', 'x'], coords = {'time':date_list[5]})

xarr_band = xr.concat([xarr1,xarr2,xarr3,xarr4,xarr5,xarr6],dim='time')


xset = xr.Dataset({})

xset['blue'] = xarr_band
xset['red'] = 3.0*xarr_band
xset['green'] = 4.0*xarr_band
xset['nir'] = 5.0*xarr_band

print(xset)

<xarray.Dataset>
Dimensions:  (time: 6, x: 1667, y: 1667)
Coordinates:
  * time     (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-01-06
Dimensions without coordinates: x, y
Data variables:
    blue     (time, y, x) float64 0.1586 0.7531 0.5985 ... 0.697 0.4095 0.2409
    red      (time, y, x) float64 0.4759 2.259 1.795 ... 2.091 1.229 0.7228
    green    (time, y, x) float64 0.6345 3.013 2.394 ... 2.788 1.638 0.9637
    nir      (time, y, x) float64 0.7931 3.766 2.992 4.87 ... 3.485 2.048 1.205

In [3]:
xset.nir

<xarray.DataArray 'nir' (time: 6, y: 1667, x: 1667)>
array([[[0.79310097, 3.76573765, 2.99230151, ..., 4.81752841,
         0.81864667, 4.08922666],
        [0.6297229 , 1.29656436, 1.22011802, ..., 0.90862568,
         0.44143281, 3.53951982],
        [4.41965745, 3.09620681, 1.23023163, ..., 3.79928186,
         3.30057094, 3.85231879],
        ...,
        [4.81106065, 1.52859097, 1.9801649 , ..., 4.12418323,
         2.8329167 , 4.91740377],
        [3.77444585, 1.16372452, 0.78441729, ..., 4.13369406,
         2.96258145, 0.64909775],
        [4.51757662, 2.55034372, 1.78333456, ..., 4.47653154,
         0.44429385, 3.61220433]],

       [[4.89104657, 3.75004763, 2.79817224, ..., 0.75966699,
         1.44583475, 0.15554227],
        [3.65241815, 0.24847929, 2.76293383, ..., 1.26419752,
         4.96286429, 2.25320543],
        [1.78361284, 0.55423628, 1.90054749, ..., 3.57628016,
         4.53157544, 4.21729651],
        ...,
        [3.78159852, 1.70629966, 0.62215317, ..., 1.62533829,
         2.95664105, 4.81714828],
        [3.72207275, 0.37252257, 0.15555714, ..., 2.16706578,
         2.32574037, 2.75149525],
        [0.69389697, 4.11809083, 4.84377822, ..., 1.67601708,
         0.66425145, 2.9238061 ]],

       [[4.99506859, 2.7631758 , 3.25490839, ..., 0.71670653,
         1.43875666, 1.3046805 ],
        [0.06863766, 3.40429677, 3.26421122, ..., 1.00649576,
         2.57452347, 4.26414654],
        [4.37379158, 1.75796822, 2.86219915, ..., 1.40763559,
         3.4872009 , 3.1319575 ],
        ...,
        [3.67832197, 4.12107697, 0.36309634, ..., 4.58269771,
         0.0699581 , 2.90797014],
        [1.46099204, 1.61852028, 3.47912197, ..., 0.92244552,
         3.59996325, 3.27031298],
        [2.50076494, 3.20007728, 2.53300535, ..., 2.15083878,
         0.63259933, 2.22572151]],

       [[4.12260087, 4.92313379, 4.46572258, ..., 0.41256446,
         0.68337349, 2.69942617],
        [3.87216462, 1.1787344 , 4.16328211, ..., 4.97475747,
         2.10519506, 2.30366651],
        [0.70334676, 2.17583705, 1.59706253, ..., 2.13883972,
         3.44544113, 0.64867468],
        ...,
        [4.16874213, 0.74427892, 4.38994181, ..., 0.95950342,
         2.530078  , 1.34275218],
        [1.05302029, 2.42617511, 2.79354051, ..., 4.09264429,
         2.03173971, 3.03491473],
        [2.79579582, 1.60687506, 0.56556674, ..., 4.83120575,
         3.76182559, 2.86273533]],

       [[0.3011292 , 4.35174692, 0.77881892, ..., 4.97850224,
         4.79676629, 3.24968677],
        [1.92825779, 3.81518225, 4.21058836, ..., 0.26546328,
         2.28722925, 1.79009111],
        [1.96511325, 1.24507157, 0.07051851, ..., 1.74884542,
         0.41264787, 3.35747356],
        ...,
        [3.39949053, 3.63364736, 4.88583496, ..., 2.21928697,
         4.90895651, 1.6206211 ],
        [0.8214794 , 4.2580407 , 2.31814538, ..., 2.57724655,
         0.05237415, 3.41782412],
        [4.42854382, 3.02754388, 4.65590591, ..., 0.11385736,
         1.26933185, 1.59098338]],

       [[4.51741107, 1.96540253, 3.11984981, ..., 0.29050302,
         3.06670337, 1.91899158],
        [1.13620694, 2.99462492, 4.76053204, ..., 4.94334627,
         0.85140104, 2.30234752],
        [2.27452348, 1.50987796, 0.10205749, ..., 1.45259784,
         1.22634269, 2.09749278],
        ...,
        [1.84064503, 1.40633296, 4.08994331, ..., 3.11358212,
         2.08170016, 2.40267501],
        [3.50957914, 3.39843883, 3.22817277, ..., 2.04019441,
         1.94296128, 1.42895476],
        [2.6624488 , 2.47025288, 1.91544503, ..., 3.48513738,
         2.04754537, 1.2046028 ]]])
Coordinates:
  * time     (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-01-06
Dimensions without coordinates: y, x

In [4]:
xset.red

<xarray.DataArray 'red' (time: 6, y: 1667, x: 1667)>
array([[[0.47586058, 2.25944259, 1.79538091, ..., 2.89051705,
         0.491188  , 2.453536  ],
        [0.37783374, 0.77793862, 0.73207081, ..., 0.54517541,
         0.26485968, 2.12371189],
        [2.65179447, 1.85772409, 0.73813898, ..., 2.27956912,
         1.98034256, 2.31139127],
        ...,
        [2.88663639, 0.91715458, 1.18809894, ..., 2.47450994,
         1.69975002, 2.95044226],
        [2.26466751, 0.69823471, 0.47065037, ..., 2.48021643,
         1.77754887, 0.38945865],
        [2.71054597, 1.53020623, 1.07000074, ..., 2.68591892,
         0.26657631, 2.1673226 ]],

       [[2.93462794, 2.25002858, 1.67890334, ..., 0.45580019,
         0.86750085, 0.09332536],
        [2.19145089, 0.14908758, 1.6577603 , ..., 0.75851851,
         2.97771857, 1.35192326],
        [1.07016771, 0.33254177, 1.14032849, ..., 2.1457681 ,
         2.71894527, 2.53037791],
        ...,
        [2.26895911, 1.0237798 , 0.3732919 , ..., 0.97520297,
         1.77398463, 2.89028897],
        [2.23324365, 0.22351354, 0.09333428, ..., 1.30023947,
         1.39544422, 1.65089715],
        [0.41633818, 2.4708545 , 2.90626693, ..., 1.00561025,
         0.39855087, 1.75428366]],

       [[2.99704115, 1.65790548, 1.95294504, ..., 0.43002392,
         0.863254  , 0.7828083 ],
        [0.0411826 , 2.04257806, 1.95852673, ..., 0.60389746,
         1.54471408, 2.55848792],
        [2.62427495, 1.05478093, 1.71731949, ..., 0.84458136,
         2.09232054, 1.8791745 ],
        ...,
        [2.20699318, 2.47264618, 0.21785781, ..., 2.74961863,
         0.04197486, 1.74478209],
        [0.87659522, 0.97111217, 2.08747318, ..., 0.55346731,
         2.15997795, 1.96218779],
        [1.50045896, 1.92004637, 1.51980321, ..., 1.29050327,
         0.3795596 , 1.33543291]],

       [[2.47356052, 2.95388028, 2.67943355, ..., 0.24753867,
         0.41002409, 1.6196557 ],
        [2.32329877, 0.70724064, 2.49796927, ..., 2.98485448,
         1.26311704, 1.38219991],
        [0.42200805, 1.30550223, 0.95823752, ..., 1.28330383,
         2.06726468, 0.38920481],
        ...,
        [2.50124528, 0.44656735, 2.63396509, ..., 0.57570205,
         1.5180468 , 0.80565131],
        [0.63181217, 1.45570507, 1.6761243 , ..., 2.45558658,
         1.21904382, 1.82094884],
        [1.67747749, 0.96412503, 0.33934004, ..., 2.89872345,
         2.25709535, 1.7176412 ]],

       [[0.18067752, 2.61104815, 0.46729135, ..., 2.98710134,
         2.87805977, 1.94981206],
        [1.15695467, 2.28910935, 2.52635302, ..., 0.15927797,
         1.37233755, 1.07405466],
        [1.17906795, 0.74704294, 0.04231111, ..., 1.04930725,
         0.24758872, 2.01448414],
        ...,
        [2.03969432, 2.18018842, 2.93150098, ..., 1.33157218,
         2.9453739 , 0.97237266],
        [0.49288764, 2.55482442, 1.39088723, ..., 1.54634793,
         0.03142449, 2.05069447],
        [2.65712629, 1.81652633, 2.79354355, ..., 0.06831442,
         0.76159911, 0.95459003]],

       [[2.71044664, 1.17924152, 1.87190988, ..., 0.17430181,
         1.84002202, 1.15139495],
        [0.68172417, 1.79677495, 2.85631922, ..., 2.96600776,
         0.51084062, 1.38140851],
        [1.36471409, 0.90592678, 0.06123449, ..., 0.8715587 ,
         0.73580561, 1.25849567],
        ...,
        [1.10438702, 0.84379978, 2.45396599, ..., 1.86814927,
         1.2490201 , 1.44160501],
        [2.10574749, 2.0390633 , 1.93690366, ..., 1.22411664,
         1.16577677, 0.85737286],
        [1.59746928, 1.48215173, 1.14926702, ..., 2.09108243,
         1.22852722, 0.72276168]]])
Coordinates:
  * time     (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-01-06
Dimensions without coordinates: y, x

## 2 Calcular ndvi por ventana de tiempos para cada banda

http://xarray.pydata.org/en/stable/generated/xarray.DataArray.rolling.html#xarray.DataArray.rolling

In [5]:
time_window = 2

In [6]:
#ejemplo de cálculo de promedio en ventana de tiempo definida con time_window
xset.blue.rolling(time=time_window).mean().dropna('time')

<xarray.DataArray (time: 5, y: 1667, x: 1667)>
array([[[0.56841475, 0.75157853, 0.57904738, ..., 0.55771954,
         0.22644814, 0.42447689],
        [0.42821411, 0.15450437, 0.39830518, ..., 0.21728232,
         0.54042971, 0.57927253],
        [0.62032703, 0.36504431, 0.31307791, ..., 0.7375562 ,
         0.78321464, 0.80696153],
        ...,
        [0.85926592, 0.32348906, 0.26023181, ..., 0.57495215,
         0.57895578, 0.9734552 ],
        [0.74965186, 0.15362471, 0.09399744, ..., 0.63007598,
         0.52883218, 0.3400593 ],
        [0.52114736, 0.66684345, 0.66271128, ..., 0.61525486,
         0.11085453, 0.65360104]],

       [[0.98861152, 0.65132234, 0.60530806, ..., 0.14763735,
         0.28845914, 0.14602228],
        [0.37210558, 0.36527761, 0.6027145 , ..., 0.22706933,
         0.75373878, 0.6517352 ],
        [0.61574044, 0.23122045, 0.47627466, ..., 0.49839158,
         0.80187763, 0.7349254 ],
        ...,
        [0.74599205, 0.58273766, 0.09852495, ..., 0.6208036 ,
         0.30265992, 0.77251184],
        [0.51830648, 0.19910429, 0.36346791, ..., 0.30895113,
         0.59257036, 0.60218082],
        [0.31946619, 0.73181681, 0.73767836, ..., 0.38268559,
         0.12968508, 0.51495276]],

       [[0.91176695, 0.76863096, 0.7720631 , ..., 0.1129271 ,
         0.21221301, 0.40041067],
        [0.39408023, 0.45830312, 0.74274933, ..., 0.59812532,
         0.46797185, 0.65678131],
        [0.50771383, 0.39338053, 0.44592617, ..., 0.35464753,
         0.6932642 , 0.37806322],
        ...,
        [0.78470641, 0.48653559, 0.47530382, ..., 0.55422011,
         0.26000361, 0.42507223],
        [0.25140123, 0.40446954, 0.62726625, ..., 0.50150898,
         0.5631703 , 0.63052277],
        [0.52965608, 0.48069523, 0.30985721, ..., 0.69820445,
         0.43944249, 0.50884568]],

       [[0.44237301, 0.92748807, 0.52445415, ..., 0.53910667,
         0.54801398, 0.59491129],
        [0.58004224, 0.49939167, 0.83738705, ..., 0.52402207,
         0.43924243, 0.40937576],
        [0.266846  , 0.34209086, 0.1667581 , ..., 0.38876851,
         0.3858089 , 0.40061482],
        ...,
        [0.75682327, 0.43779263, 0.92757768, ..., 0.31787904,
         0.74390345, 0.29633733],
        [0.18744997, 0.66842158, 0.51116859, ..., 0.66698908,
         0.20841139, 0.64527388],
        [0.72243396, 0.46344189, 0.52214726, ..., 0.49450631,
         0.50311574, 0.44537187]],

       [[0.48185403, 0.63171495, 0.38986687, ..., 0.52690053,
         0.78634697, 0.51686784],
        [0.30644647, 0.68098072, 0.89711204, ..., 0.52088096,
         0.31386303, 0.40924386],
        [0.42396367, 0.27549495, 0.0172576 , ..., 0.32014433,
         0.16389906, 0.54549663],
        ...,
        [0.52401356, 0.50399803, 0.89757783, ..., 0.53328691,
         0.69906567, 0.40232961],
        [0.43310585, 0.76564795, 0.55463182, ..., 0.4617441 ,
         0.19953354, 0.48467789],
        [0.70909926, 0.54977968, 0.65713509, ..., 0.35989947,
         0.33168772, 0.27955862]]])
Coordinates:
  * time     (time) datetime64[ns] 2019-01-02 2019-01-03 ... 2019-01-06
Dimensions without coordinates: y, x

In [7]:
xset['ndvi'] = ((xset.nir-xset.red)/(xset.nir+xset.red))

In [8]:
xset

<xarray.Dataset>
Dimensions:  (time: 6, x: 1667, y: 1667)
Coordinates:
  * time     (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-01-06
Dimensions without coordinates: x, y
Data variables:
    blue     (time, y, x) float64 0.1586 0.7531 0.5985 ... 0.697 0.4095 0.2409
    red      (time, y, x) float64 0.4759 2.259 1.795 ... 2.091 1.229 0.7228
    green    (time, y, x) float64 0.6345 3.013 2.394 ... 2.788 1.638 0.9637
    nir      (time, y, x) float64 0.7931 3.766 2.992 4.87 ... 3.485 2.048 1.205
    ndvi     (time, y, x) float64 0.25 0.25 0.25 0.25 ... 0.25 0.25 0.25 0.25

In [9]:
xset.ndvi

<xarray.DataArray 'ndvi' (time: 6, y: 1667, x: 1667)>
array([[[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]]])
Coordinates:
  * time     (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-01-06
Dimensions without coordinates: y, x

In [10]:
xset_ndvi_mean_by_window = xset.ndvi.rolling(time=time_window).mean(keep_attrs=True, skipna=True).dropna('time')

In [11]:
xset_ndvi_mean_by_window

<xarray.DataArray (time: 5, y: 1667, x: 1667)>
array([[[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]],

       [[0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        ...,
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25],
        [0.25, 0.25, 0.25, ..., 0.25, 0.25, 0.25]]])
Coordinates:
  * time     (time) datetime64[ns] 2019-01-02 2019-01-03 ... 2019-01-06
Dimensions without coordinates: y, x

## 1b Se utilizan los datos de la ruta:

`/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data`

In [3]:
path = '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/' 

nc_files = [f for f in glob.glob(path + "/LS5*.nc", recursive=True)]

In [4]:
nc_files

['/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19960312164217000000.nc',
 '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19960124163902000000.nc',
 '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19961123165617000000.nc',
 '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19951121163445000000.nc',
 '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19950206164648000000.nc',
 '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19950310164531000000.nc',
 '/LUSTRE/MADMEX/tasks/2019_tasks/generacion_datos_entrenamiento_cultivos/examples_source_data/LS5_espa_21_-19_19961107165532000000.nc']

In [5]:
ds_combined_no_chunks = xr.open_mfdataset(path +'/LS5*.nc',
                                          data_vars='minimal', coords='minimal',
                                          combine='by_coords')

Combine nc files

In [6]:
ds_combined_no_chunks

<xarray.Dataset>
Dimensions:   (time: 7, x: 1667, y: 1667)
Coordinates:
  * x         (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * y         (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * time      (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Data variables:
    crs       int32 -2147483647
    blue      (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    green     (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    red       (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    nir       (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    swir1     (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    swir2     (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    pixel_qa  (time, y, x) float32 dask.array<chunksize=(1, 1667, 1667), meta=np.ndarray>
    dataset   (time) |S4992 dask.array<chunksize=(1,), meta=np.ndarray>
Attributes:
    date_created:           2019-07-28T18:14:28.679958
    Conventions:            CF-1.6, ACDD-1.3
    history:                NetCDF-CF file created by datacube version '1.6.2...
    geospatial_bounds:      POLYGON ((-106.733088216692 25.6405170002933,-106...
    geospatial_bounds_crs:  EPSG:4326
    geospatial_lat_min:     25.18928191539932
    geospatial_lat_max:     25.654623994106128
    geospatial_lat_units:   degrees_north
    geospatial_lon_min:     -106.73308821669225
    geospatial_lon_max:     -106.21785297207995
    geospatial_lon_units:   degrees_east
    title:                  CONABIO Data Cube Landsat Surface Reflectance
    summary:                Landsat 5 TM surface reflectance processed by espa
    source:                 USGS
    institution:            CONABIO
    instrument:             TM
    cdm_data_type:          Grid
    keywords:               CONABIO,LANDSAT,TM,SURFACE REFLECTANCE
    keywords_vocabulary:    GCMD
    platform:               LANDSAT_5
    processing_level:       L2
    product_version:        0.0.1
    product_suite:          USGS Landsat Collection 1
    project:                MADMEX
    coverage_content_type:  physicalMeasurement
    references:             http://dx.doi.org/10.3334/ORNLDAAC/1146
    license:                https://creativecommons.org/licenses/by/4.0/
    naming_authority:       gov.usgs
    acknowledgment:         Landsat data is provided by the United States Geo...

In [7]:
ds_combined_no_chunks.time

<xarray.DataArray 'time' (time: 7)>
array(['1995-02-06T16:46:48.000000000', '1995-03-10T16:45:31.000000000',
       '1995-11-21T16:34:45.000000000', '1996-01-24T16:39:02.000000000',
       '1996-03-12T16:42:17.000000000', '1996-11-07T16:55:32.000000000',
       '1996-11-23T16:56:17.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Attributes:
    standard_name:  time
    long_name:      Time, unix time-stamp
    axis:           T

In [8]:
ds_combined = ds_combined_no_chunks.chunk({'time': -1})

In [9]:
ds_combined

<xarray.Dataset>
Dimensions:   (time: 7, x: 1667, y: 1667)
Coordinates:
  * x         (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * y         (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * time      (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Data variables:
    crs       int32 -2147483647
    blue      (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    green     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    red       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    nir       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir1     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir2     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    pixel_qa  (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    dataset   (time) |S4992 dask.array<chunksize=(7,), meta=np.ndarray>
Attributes:
    date_created:           2019-07-28T18:14:28.679958
    Conventions:            CF-1.6, ACDD-1.3
    history:                NetCDF-CF file created by datacube version '1.6.2...
    geospatial_bounds:      POLYGON ((-106.733088216692 25.6405170002933,-106...
    geospatial_bounds_crs:  EPSG:4326
    geospatial_lat_min:     25.18928191539932
    geospatial_lat_max:     25.654623994106128
    geospatial_lat_units:   degrees_north
    geospatial_lon_min:     -106.73308821669225
    geospatial_lon_max:     -106.21785297207995
    geospatial_lon_units:   degrees_east
    title:                  CONABIO Data Cube Landsat Surface Reflectance
    summary:                Landsat 5 TM surface reflectance processed by espa
    source:                 USGS
    institution:            CONABIO
    instrument:             TM
    cdm_data_type:          Grid
    keywords:               CONABIO,LANDSAT,TM,SURFACE REFLECTANCE
    keywords_vocabulary:    GCMD
    platform:               LANDSAT_5
    processing_level:       L2
    product_version:        0.0.1
    product_suite:          USGS Landsat Collection 1
    project:                MADMEX
    coverage_content_type:  physicalMeasurement
    references:             http://dx.doi.org/10.3334/ORNLDAAC/1146
    license:                https://creativecommons.org/licenses/by/4.0/
    naming_authority:       gov.usgs
    acknowledgment:         Landsat data is provided by the United States Geo...

In [10]:
ds_combined.blue.attrs

OrderedDict([('grid_mapping', 'crs'),
             ('units', 'reflectance'),
             ('long_name', 'Surface Reflectance 0.45-0.52 microns (Blue)'),
             ('alias', 'band_1')])

In [11]:
ds_combined.blue

<xarray.DataArray 'blue' (time: 7, y: 1667, x: 1667)>
dask.array<rechunk-merge, shape=(7, 1667, 1667), dtype=float32, chunksize=(7, 1667, 1667), chunktype=numpy.ndarray>
Coordinates:
  * x        (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * y        (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * time     (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Attributes:
    grid_mapping:  crs
    units:         reflectance
    long_name:     Surface Reflectance 0.45-0.52 microns (Blue)
    alias:         band_1

In [12]:
ds_combined.blue.isel(time=3).values

array([[133., 133.,  18., ..., 211., 211., 154.],
       [ 75.,  47.,  75., ..., 211., 209., 154.],
       [133., 105.,  75., ..., 182., 182., 209.],
       ...,
       [ nan,  nan,  nan, ...,  nan,  nan,  nan],
       [ nan,  nan,  nan, ...,  nan,  nan,  nan],
       [ nan,  nan,  nan, ...,  nan,  nan,  nan]], dtype=float32)

## 2a Calcular ndvi por ventana de tiempos para cada banda

In [18]:
time_window = 2

In [19]:
#ejemplo de cálculo de promedio en ventana de tiempo definida con time_window
ds_combined.blue.rolling(time=time_window).mean(keep_attrs=True, skipna=True).dropna('time')

<xarray.DataArray (time: 4, y: 1667, x: 1667)>
dask.array<getitem, shape=(4, 1667, 1667), dtype=float32, chunksize=(4, 1667, 1667), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * x        (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * time     (time) datetime64[ns] 1995-03-10T16:45:31 ... 1996-11-23T16:56:17

In [20]:
ds_combined['ndvi'] = ((ds_combined.nir-ds_combined.red)/(ds_combined.nir+ds_combined.red))

In [21]:
ds_combined

<xarray.Dataset>
Dimensions:   (time: 7, x: 1667, y: 1667)
Coordinates:
  * y         (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * x         (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * time      (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Data variables:
    crs       int32 -2147483647
    blue      (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    green     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    red       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    nir       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir1     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir2     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    pixel_qa  (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    dataset   (time) |S4992 dask.array<chunksize=(7,), meta=np.ndarray>
    ndvi      (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
Attributes:
    date_created:           2019-07-28T18:14:28.679958
    Conventions:            CF-1.6, ACDD-1.3
    history:                NetCDF-CF file created by datacube version '1.6.2...
    geospatial_bounds:      POLYGON ((-106.733088216692 25.6405170002933,-106...
    geospatial_bounds_crs:  EPSG:4326
    geospatial_lat_min:     25.18928191539932
    geospatial_lat_max:     25.654623994106128
    geospatial_lat_units:   degrees_north
    geospatial_lon_min:     -106.73308821669225
    geospatial_lon_max:     -106.21785297207995
    geospatial_lon_units:   degrees_east
    title:                  CONABIO Data Cube Landsat Surface Reflectance
    summary:                Landsat 5 TM surface reflectance processed by espa
    source:                 USGS
    institution:            CONABIO
    instrument:             TM
    cdm_data_type:          Grid
    keywords:               CONABIO,LANDSAT,TM,SURFACE REFLECTANCE
    keywords_vocabulary:    GCMD
    platform:               LANDSAT_5
    processing_level:       L2
    product_version:        0.0.1
    product_suite:          USGS Landsat Collection 1
    project:                MADMEX
    coverage_content_type:  physicalMeasurement
    references:             http://dx.doi.org/10.3334/ORNLDAAC/1146
    license:                https://creativecommons.org/licenses/by/4.0/
    naming_authority:       gov.usgs
    acknowledgment:         Landsat data is provided by the United States Geo...

In [22]:
ds_combined.ndvi

<xarray.DataArray 'ndvi' (time: 7, y: 1667, x: 1667)>
dask.array<truediv, shape=(7, 1667, 1667), dtype=float32, chunksize=(7, 1667, 1667), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * x        (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * time     (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17

In [23]:
ds_combined.ndvi.values

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

array([[[0.3900293 , 0.3900293 , 0.3900293 , ..., 0.5306186 ,
         0.5935275 , 0.6238291 ],
        [0.3900293 , 0.32258064, 0.4680307 , ..., 0.49166918,
         0.5787488 , 0.59113115],
        [0.4680307 , 0.4680307 , 0.32258064, ..., 0.50374067,
         0.5365616 , 0.59113115],
        ...,
        [0.5963396 , 0.50141966, 0.5618182 , ..., 0.6130398 ,
         0.61803955, 0.5063291 ],
        [0.59348536, 0.62945366, 0.60595536, ..., 0.5670282 ,
         0.5580271 , 0.62317383],
        [0.53594774, 0.6401419 , 0.61908895, ..., 0.5762208 ,
         0.578024  , 0.72328246]],

       [[0.47985348, 0.21929824, 0.38528138, ..., 0.49164525,
         0.54932505, 0.5692308 ],
        [0.38831615, 0.44791666, 0.5023474 , ..., 0.4679549 ,
         0.5051405 , 0.5478599 ],
        [0.21929824, 0.32380953, 0.32380953, ..., 0.48730105,
         0.50982493, 0.5478599 ],
        ...,
        [0.6556578 , 0.6481597 , 0.6191875 , ..., 0.61337686,
         0.5300216 , 0.38667583],
        [0.6576577 , 0.7082103 , 0.72634643, ..., 0.53839624,
         0.5280482 , 0.6062378 ],
        [0.6473947 , 0.74013674, 0.78295255, ..., 0.54533273,
         0.62850577, 0.6740283 ]],

       [[0.3310811 , 0.505     , 0.505     , ..., 0.62138975,
         0.67155963, 0.6665544 ],
        [0.48175183, 0.42626262, 0.5629139 , ..., 0.61001474,
         0.6183441 , 0.65469134],
        [0.72616136, 0.60792077, 0.42626262, ..., 0.57755774,
         0.621232  , 0.6172488 ],
        ...,
        [0.77819085, 0.7254601 , 0.7237395 , ..., 0.6526181 ,
         0.5380997 , 0.4741483 ],
        [0.7140575 , 0.8066337 , 0.7689493 , ..., 0.66016716,
         0.5341615 , 0.6244228 ],
        [0.7828843 , 0.8032967 , 0.8138326 , ..., 0.6068152 ,
         0.6368491 , 0.7116751 ]],

       ...,

       [[0.4385475 , 0.19931857, 0.25763127, ..., 0.37599528,
         0.38018134, 0.4196396 ],
        [0.33802816, 0.13919415, 0.2527822 , ..., 0.3899315 ,
         0.37907836, 0.41097423],
        [0.25159237, 0.27305606, 0.32436976, ..., 0.41858268,
         0.41907024, 0.3854989 ],
        ...,
        [0.66430736, 0.64916945, 0.637517  , ..., 0.561131  ,
         0.4849921 , 0.3615839 ],
        [0.7123894 , 0.7493188 , 0.7273559 , ..., 0.525355  ,
         0.4924078 , 0.56      ],
        [0.7036083 , 0.7400295 , 0.7718237 , ..., 0.5606446 ,
         0.5920398 , 0.60628545]],

       [[0.7518479 , 0.68225807, 0.5735027 , ..., 0.5706422 ,
         0.6303476 , 0.6075231 ],
        [0.7173913 , 0.6609808 , 0.55758685, ..., 0.49907807,
         0.5586481 , 0.57354534],
        [0.72642606, 0.66574585, 0.6194969 , ..., 0.4752079 ,
         0.5335548 , 0.54525703],
        ...,
        [0.69542485, 0.7386059 , 0.7342497 , ..., 0.59262437,
         0.53533643, 0.47498015],
        [0.7132353 , 0.76590633, 0.7470011 , ..., 0.51757467,
         0.49863014, 0.5879302 ],
        [0.7132353 , 0.73981017, 0.75845915, ..., 0.52672416,
         0.62601626, 0.672973  ]],

       [[0.60082304, 0.5357458 , 0.406037  , ..., 0.5877271 ,
         0.6095941 , 0.5744235 ],
        [0.62252474, 0.5055928 , 0.49008498, ..., 0.48856157,
         0.5273632 , 0.5517759 ],
        [0.5417219 , 0.47692308, 0.44402516, ..., 0.4807509 ,
         0.5209722 , 0.5443583 ],
        ...,
        [0.68798316, 0.66616315, 0.6519748 , ..., 0.58930844,
         0.5438749 , 0.4604824 ],
        [0.71828794, 0.75524   , 0.737475  , ..., 0.5341615 ,
         0.53214115, 0.59134835],
        [0.71828794, 0.7770936 , 0.76810074, ..., 0.5707277 ,
         0.60863817, 0.6538958 ]]], dtype=float32)

In [24]:
da_combined_ndvi_mean_by_window = ds_combined.ndvi.rolling(time=time_window,center=True).mean()

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

In [26]:
da_combined_ndvi_mean_by_window.values

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

array([[[       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        ...,
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan]],

       [[0.4349414 , 0.30466378, 0.38765535, ..., 0.51113194,
         0.5714263 , 0.59652996],
        [0.38917273, 0.38524866, 0.48518905, ..., 0.47981203,
         0.5419446 , 0.56949556],
        [0.34366447, 0.3959201 , 0.3231951 , ..., 0.49552086,
         0.52319324, 0.56949556],
        ...,
        [0.62599874, 0.57478964, 0.59050286, ..., 0.6132083 ,
         0.5740306 , 0.44650248],
        [0.6255715 , 0.66883194, 0.6661509 , ..., 0.5527122 ,
         0.54303765, 0.6147058 ],
        [0.5916712 , 0.6901393 , 0.7010207 , ..., 0.56077677,
         0.6032649 , 0.69865537]],

       [[0.40546727, 0.36214912, 0.4451407 , ..., 0.5565175 ,
         0.61044234, 0.6178926 ],
        [0.43503398, 0.43708962, 0.5326307 , ..., 0.53898484,
         0.5617423 , 0.6012756 ],
        [0.4727298 , 0.46586514, 0.37503606, ..., 0.5324294 ,
         0.56552845, 0.58255434],
        ...,
        [0.7169243 , 0.6868099 , 0.6714635 , ..., 0.6329975 ,
         0.53406066, 0.43041205],
        [0.6858576 , 0.757422  , 0.7476479 , ..., 0.59928167,
         0.53110486, 0.61533034],
        [0.7151395 , 0.7717167 , 0.79839253, ..., 0.576074  ,
         0.63267744, 0.69285166]],

       ...,

       [[0.5855781 , 0.4980968 , 0.48736596, ..., 0.48729163,
         0.45842594, 0.45875597],
        [0.5390616 , 0.4381386 , 0.47946125, ..., 0.48727706,
         0.49066275, 0.51629794],
        [0.49944794, 0.54738516, 0.54680026, ..., 0.5029668 ,
         0.5370827 , 0.45613277],
        ...,
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan],
        [       nan,        nan,        nan, ...,        nan,
                nan,        nan]],

       [[0.5951977 , 0.44078833, 0.41556698, ..., 0.47331873,
         0.50526446, 0.51358134],
        [0.5277097 , 0.40008748, 0.4051845 , ..., 0.4445048 ,
         0.46886325, 0.4922598 ],
        [0.4890092 , 0.46940094, 0.4719333 , ..., 0.4468953 ,
         0.47631252, 0.465378  ],
        ...,
        [0.6798661 , 0.6938877 , 0.68588334, ..., 0.5768777 ,
         0.51016426, 0.41828203],
        [0.71281236, 0.7576126 , 0.7371785 , ..., 0.5214648 ,
         0.49551898, 0.5739651 ],
        [0.7084218 , 0.73991984, 0.7651414 , ..., 0.54368436,
         0.60902804, 0.63962924]],

       [[0.67633545, 0.60900193, 0.48976988, ..., 0.57918465,
         0.61997086, 0.59097326],
        [0.669958  , 0.5832868 , 0.5238359 , ..., 0.49381983,
         0.54300565, 0.5626606 ],
        [0.634074  , 0.5713345 , 0.53176105, ..., 0.4779794 ,
         0.5272635 , 0.5448077 ],
        ...,
        [0.69170403, 0.70238453, 0.69311225, ..., 0.5909664 ,
         0.5396057 , 0.46773127],
        [0.71576166, 0.76057315, 0.74223804, ..., 0.52586806,
         0.5153856 , 0.5896393 ],
        [0.71576166, 0.7584519 , 0.7632799 , ..., 0.54872596,
         0.6173272 , 0.6634344 ]]], dtype=float32)

In [27]:
ds_combined.time.values

array(['1995-02-06T16:46:48.000000000', '1995-03-10T16:45:31.000000000',
       '1995-11-21T16:34:45.000000000', '1996-01-24T16:39:02.000000000',
       '1996-03-12T16:42:17.000000000', '1996-11-07T16:55:32.000000000',
       '1996-11-23T16:56:17.000000000'], dtype='datetime64[ns]')

In [28]:
times=np.datetime_as_string(da_combined_ndvi_mean_by_window.time.values,unit='D')

In [29]:
times

array(['1995-02-06', '1995-03-10', '1995-11-21', '1996-01-24',
       '1996-03-12', '1996-11-07', '1996-11-23'], dtype='<U28')

In [30]:
times=[datetime.strptime(x,'%Y-%m-%d') for x in times]

In [31]:
times

[datetime.datetime(1995, 2, 6, 0, 0),
 datetime.datetime(1995, 3, 10, 0, 0),
 datetime.datetime(1995, 11, 21, 0, 0),
 datetime.datetime(1996, 1, 24, 0, 0),
 datetime.datetime(1996, 3, 12, 0, 0),
 datetime.datetime(1996, 11, 7, 0, 0),
 datetime.datetime(1996, 11, 23, 0, 0)]

In [32]:
da_combined_ndvi_mean_by_window.name = 'ndvi_window_mean'

In [45]:
da_combined_ndvi_mean_by_window

<xarray.DataArray 'ndvi_window_mean' (time: 7, y: 1667, x: 1667)>
dask.array<where, shape=(7, 1667, 1667), dtype=float32, chunksize=(6, 1667, 1667), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * x        (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * time     (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17

In [47]:
da_time_clean = da_combined_ndvi_mean_by_window.assign_coords({'time':times})

In [48]:
da_time_clean

<xarray.DataArray 'ndvi_window_mean' (time: 7, y: 1667, x: 1667)>
dask.array<where, shape=(7, 1667, 1667), dtype=float32, chunksize=(6, 1667, 1667), chunktype=numpy.ndarray>
Coordinates:
  * y        (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * x        (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * time     (time) datetime64[ns] 1995-02-06 1995-03-10 ... 1996-11-23

In [51]:
da_time_clean.loc['1995-03-10'].values

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

array([[0.4349414 , 0.30466378, 0.38765535, ..., 0.51113194, 0.5714263 ,
        0.59652996],
       [0.38917273, 0.38524866, 0.48518905, ..., 0.47981203, 0.5419446 ,
        0.56949556],
       [0.34366447, 0.3959201 , 0.3231951 , ..., 0.49552086, 0.52319324,
        0.56949556],
       ...,
       [0.62599874, 0.57478964, 0.59050286, ..., 0.6132083 , 0.5740306 ,
        0.44650248],
       [0.6255715 , 0.66883194, 0.6661509 , ..., 0.5527122 , 0.54303765,
        0.6147058 ],
       [0.5916712 , 0.6901393 , 0.7010207 , ..., 0.56077677, 0.6032649 ,
        0.69865537]], dtype=float32)

In [52]:
da_time_clean.loc['1995-03-10'].to_dataframe()

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

                          time  ndvi_window_mean
y         x
1526525.0 2027385.0 1995-03-10          0.434941
          2027415.0 1995-03-10          0.304664
          2027445.0 1995-03-10          0.387655
          2027475.0 1995-03-10          0.365385
          2027505.0 1995-03-10          0.305670
...                        ...               ...
1476545.0 2077245.0 1995-03-10          0.549480
          2077275.0 1995-03-10          0.552054
          2077305.0 1995-03-10          0.560777
          2077335.0 1995-03-10          0.603265
          2077365.0 1995-03-10          0.698655

[2778889 rows x 2 columns]

In [33]:
dseries=da_combined_ndvi_mean_by_window.assign_coords({'time':times}).to_series()

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

In [34]:
dseries

time        y          x
1995-02-06  1526525.0  2027385.0         NaN
                       2027415.0         NaN
                       2027445.0         NaN
                       2027475.0         NaN
                       2027505.0         NaN
                                      ...
1996-11-23  1476545.0  2077245.0    0.535197
                       2077275.0    0.517067
                       2077305.0    0.548726
                       2077335.0    0.617327
                       2077365.0    0.663434
Name: ndvi_window_mean, Length: 19452223, dtype: float32

In [35]:
dseries

time        y          x
1995-02-06  1526525.0  2027385.0         NaN
                       2027415.0         NaN
                       2027445.0         NaN
                       2027475.0         NaN
                       2027505.0         NaN
                                      ...
1996-11-23  1476545.0  2077245.0    0.535197
                       2077275.0    0.517067
                       2077305.0    0.548726
                       2077335.0    0.617327
                       2077365.0    0.663434
Name: ndvi_window_mean, Length: 19452223, dtype: float32

In [36]:
dseries.dropna()

time        y          x
1995-03-10  1526525.0  2027385.0    0.434941
                       2027415.0    0.304664
                       2027445.0    0.387655
                       2027475.0    0.365385
                       2027505.0    0.305670
                                      ...
1996-11-23  1476545.0  2077245.0    0.535197
                       2077275.0    0.517067
                       2077305.0    0.548726
                       2077335.0    0.617327
                       2077365.0    0.663434
Name: ndvi_window_mean, Length: 15176736, dtype: float32

In [39]:
dframe = da_combined_ndvi_mean_by_window.assign_coords({'time':times}).to_dataframe()

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

In [40]:
dframe

                                ndvi_window_mean
time       y         x
1995-02-06 1526525.0 2027385.0               NaN
                     2027415.0               NaN
                     2027445.0               NaN
                     2027475.0               NaN
                     2027505.0               NaN
...                                          ...
1996-11-23 1476545.0 2077245.0          0.535197
                     2077275.0          0.517067
                     2077305.0          0.548726
                     2077335.0          0.617327
                     2077365.0          0.663434

[19452223 rows x 1 columns]

In [41]:
dframe.columns

Index(['ndvi_window_mean'], dtype='object')

In [42]:
dframe.index

MultiIndex([('1995-02-06', 1526525.0, 2027385.0),
            ('1995-02-06', 1526525.0, 2027415.0),
            ('1995-02-06', 1526525.0, 2027445.0),
            ('1995-02-06', 1526525.0, 2027475.0),
            ('1995-02-06', 1526525.0, 2027505.0),
            ('1995-02-06', 1526525.0, 2027535.0),
            ('1995-02-06', 1526525.0, 2027565.0),
            ('1995-02-06', 1526525.0, 2027595.0),
            ('1995-02-06', 1526525.0, 2027625.0),
            ('1995-02-06', 1526525.0, 2027655.0),
            ...
            ('1996-11-23', 1476545.0, 2077095.0),
            ('1996-11-23', 1476545.0, 2077125.0),
            ('1996-11-23', 1476545.0, 2077155.0),
            ('1996-11-23', 1476545.0, 2077185.0),
            ('1996-11-23', 1476545.0, 2077215.0),
            ('1996-11-23', 1476545.0, 2077245.0),
            ('1996-11-23', 1476545.0, 2077275.0),
            ('1996-11-23', 1476545.0, 2077305.0),
            ('1996-11-23', 1476545.0, 2077335.0),
            ('1996-11-23', 1476545.0, 2077365.0)],
           names=['time', 'y', 'x'], length=19452223)

In [44]:
dframe['1995-02-06':'1995-03-10']

                                ndvi_window_mean
time       y         x
1995-02-06 1526525.0 2027385.0               NaN
                     2027415.0               NaN
                     2027445.0               NaN
                     2027475.0               NaN
                     2027505.0               NaN
...                                          ...
1995-03-10 1476545.0 2077245.0          0.549480
                     2077275.0          0.552054
                     2077305.0          0.560777
                     2077335.0          0.603265
                     2077365.0          0.698655

[5557778 rows x 1 columns]

In [59]:
dframe=dframe.swaplevel(i='time',j='y')

In [60]:
dframe

                                ndvi_window_mean
y         time       x
1526525.0 1995-02-06 2027385.0               NaN
                     2027415.0               NaN
                     2027445.0               NaN
                     2027475.0               NaN
                     2027505.0               NaN
...                                          ...
1476545.0 1996-11-23 2077245.0          0.535197
                     2077275.0          0.517067
                     2077305.0          0.548726
                     2077335.0          0.617327
                     2077365.0          0.663434

[19452223 rows x 1 columns]

In [61]:
dframe=dframe.swaplevel(i='time',j='x')

In [96]:
dframe

                                ndvi_window_mean
y         x         time
1526525.0 2027385.0 1995-02-06               NaN
          2027415.0 1995-02-06               NaN
          2027445.0 1995-02-06               NaN
          2027475.0 1995-02-06               NaN
          2027505.0 1995-02-06               NaN
...                                          ...
1476545.0 2077245.0 1996-11-23          0.535197
          2077275.0 1996-11-23          0.517067
          2077305.0 1996-11-23          0.548726
          2077335.0 1996-11-23          0.617327
          2077365.0 1996-11-23          0.663434

[19452223 rows x 1 columns]

In [99]:
dframe=dframe.reset_index('time')

In [100]:
dframe

                          time  ndvi_window_mean
y         x
1526525.0 2027385.0 1995-02-06               NaN
          2027415.0 1995-02-06               NaN
          2027445.0 1995-02-06               NaN
          2027475.0 1995-02-06               NaN
          2027505.0 1995-02-06               NaN
...                        ...               ...
1476545.0 2077245.0 1996-11-23          0.535197
          2077275.0 1996-11-23          0.517067
          2077305.0 1996-11-23          0.548726
          2077335.0 1996-11-23          0.617327
          2077365.0 1996-11-23          0.663434

[19452223 rows x 2 columns]

In [101]:
dframe.index

MultiIndex([(1526525.0, 2027385.0),
            (1526525.0, 2027415.0),
            (1526525.0, 2027445.0),
            (1526525.0, 2027475.0),
            (1526525.0, 2027505.0),
            (1526525.0, 2027535.0),
            (1526525.0, 2027565.0),
            (1526525.0, 2027595.0),
            (1526525.0, 2027625.0),
            (1526525.0, 2027655.0),
            ...
            (1476545.0, 2077095.0),
            (1476545.0, 2077125.0),
            (1476545.0, 2077155.0),
            (1476545.0, 2077185.0),
            (1476545.0, 2077215.0),
            (1476545.0, 2077245.0),
            (1476545.0, 2077275.0),
            (1476545.0, 2077305.0),
            (1476545.0, 2077335.0),
            (1476545.0, 2077365.0)],
           names=['y', 'x'], length=19452223)

In [102]:
index_y_values=dframe.index.get_level_values('y')

In [103]:
index_x_values=dframe.index.get_level_values('x')

In [104]:
index_y_values

Float64Index([1526525.0, 1526525.0, 1526525.0, 1526525.0, 1526525.0, 1526525.0,
              1526525.0, 1526525.0, 1526525.0, 1526525.0,
              ...
              1476545.0, 1476545.0, 1476545.0, 1476545.0, 1476545.0, 1476545.0,
              1476545.0, 1476545.0, 1476545.0, 1476545.0],
             dtype='float64', name='y', length=19452223)

In [106]:
dframe.index = [dframe.index.get_level_values('y'),dframe.index.get_level_values('x'),
                dframe.index.map('{0[0]}/{0[1]}'.format)]

In [107]:
dframe

                                              time  ndvi_window_mean
y         x
1526525.0 2027385.0 1526525.0/2027385.0 1995-02-06               NaN
          2027415.0 1526525.0/2027415.0 1995-02-06               NaN
          2027445.0 1526525.0/2027445.0 1995-02-06               NaN
          2027475.0 1526525.0/2027475.0 1995-02-06               NaN
          2027505.0 1526525.0/2027505.0 1995-02-06               NaN
...                                            ...               ...
1476545.0 2077245.0 1476545.0/2077245.0 1996-11-23          0.535197
          2077275.0 1476545.0/2077275.0 1996-11-23          0.517067
          2077305.0 1476545.0/2077305.0 1996-11-23          0.548726
          2077335.0 1476545.0/2077335.0 1996-11-23          0.617327
          2077365.0 1476545.0/2077365.0 1996-11-23          0.663434

[19452223 rows x 2 columns]

In [108]:
dframe.index.names = ['y', 'x','y/x']

In [109]:
dframe

                                              time  ndvi_window_mean
y         x         y/x
1526525.0 2027385.0 1526525.0/2027385.0 1995-02-06               NaN
          2027415.0 1526525.0/2027415.0 1995-02-06               NaN
          2027445.0 1526525.0/2027445.0 1995-02-06               NaN
          2027475.0 1526525.0/2027475.0 1995-02-06               NaN
          2027505.0 1526525.0/2027505.0 1995-02-06               NaN
...                                            ...               ...
1476545.0 2077245.0 1476545.0/2077245.0 1996-11-23          0.535197
          2077275.0 1476545.0/2077275.0 1996-11-23          0.517067
          2077305.0 1476545.0/2077305.0 1996-11-23          0.548726
          2077335.0 1476545.0/2077335.0 1996-11-23          0.617327
          2077365.0 1476545.0/2077365.0 1996-11-23          0.663434

[19452223 rows x 2 columns]

In [110]:
dframe=dframe.reset_index('y/x')

In [111]:
dframe

                                     y/x       time  ndvi_window_mean
y         x
1526525.0 2027385.0  1526525.0/2027385.0 1995-02-06               NaN
          2027415.0  1526525.0/2027415.0 1995-02-06               NaN
          2027445.0  1526525.0/2027445.0 1995-02-06               NaN
          2027475.0  1526525.0/2027475.0 1995-02-06               NaN
          2027505.0  1526525.0/2027505.0 1995-02-06               NaN
...                                  ...        ...               ...
1476545.0 2077245.0  1476545.0/2077245.0 1996-11-23          0.535197
          2077275.0  1476545.0/2077275.0 1996-11-23          0.517067
          2077305.0  1476545.0/2077305.0 1996-11-23          0.548726
          2077335.0  1476545.0/2077335.0 1996-11-23          0.617327
          2077365.0  1476545.0/2077365.0 1996-11-23          0.663434

[19452223 rows x 3 columns]

In [116]:
dframe=dframe.dropna()

In [117]:
dframe

                                     y/x       time  ndvi_window_mean
y         x
1526525.0 2027385.0  1526525.0/2027385.0 1995-03-10          0.434941
          2027415.0  1526525.0/2027415.0 1995-03-10          0.304664
          2027445.0  1526525.0/2027445.0 1995-03-10          0.387655
          2027475.0  1526525.0/2027475.0 1995-03-10          0.365385
          2027505.0  1526525.0/2027505.0 1995-03-10          0.305670
...                                  ...        ...               ...
1476545.0 2077245.0  1476545.0/2077245.0 1996-11-23          0.535197
          2077275.0  1476545.0/2077275.0 1996-11-23          0.517067
          2077305.0  1476545.0/2077305.0 1996-11-23          0.548726
          2077335.0  1476545.0/2077335.0 1996-11-23          0.617327
          2077365.0  1476545.0/2077365.0 1996-11-23          0.663434

[15176736 rows x 3 columns]

In [120]:
dframe.columns

Index(['y/x', 'time', 'ndvi_window_mean'], dtype='object')

`pip3.6 install --user tsfresh`

## 2b Calcular serie de tiempo

Se utiliza la función `resample` para generar una serie de tiempo. Ver por ejemplo:

https://github.com/CONABIO/antares3-sandbox/blob/master/notebooks/time_series_computation_xarray/time_series_computation_xarray_3.ipynb

In [13]:
ds_combined

<xarray.Dataset>
Dimensions:   (time: 7, x: 1667, y: 1667)
Coordinates:
  * x         (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * y         (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * time      (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Data variables:
    crs       int32 -2147483647
    blue      (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    green     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    red       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    nir       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir1     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir2     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    pixel_qa  (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    dataset   (time) |S4992 dask.array<chunksize=(7,), meta=np.ndarray>
Attributes:
    date_created:           2019-07-28T18:14:28.679958
    Conventions:            CF-1.6, ACDD-1.3
    history:                NetCDF-CF file created by datacube version '1.6.2...
    geospatial_bounds:      POLYGON ((-106.733088216692 25.6405170002933,-106...
    geospatial_bounds_crs:  EPSG:4326
    geospatial_lat_min:     25.18928191539932
    geospatial_lat_max:     25.654623994106128
    geospatial_lat_units:   degrees_north
    geospatial_lon_min:     -106.73308821669225
    geospatial_lon_max:     -106.21785297207995
    geospatial_lon_units:   degrees_east
    title:                  CONABIO Data Cube Landsat Surface Reflectance
    summary:                Landsat 5 TM surface reflectance processed by espa
    source:                 USGS
    institution:            CONABIO
    instrument:             TM
    cdm_data_type:          Grid
    keywords:               CONABIO,LANDSAT,TM,SURFACE REFLECTANCE
    keywords_vocabulary:    GCMD
    platform:               LANDSAT_5
    processing_level:       L2
    product_version:        0.0.1
    product_suite:          USGS Landsat Collection 1
    project:                MADMEX
    coverage_content_type:  physicalMeasurement
    references:             http://dx.doi.org/10.3334/ORNLDAAC/1146
    license:                https://creativecommons.org/licenses/by/4.0/
    naming_authority:       gov.usgs
    acknowledgment:         Landsat data is provided by the United States Geo...

In [14]:
ds_combined['ndvi'] = ((ds_combined.nir-ds_combined.red)/(ds_combined.nir+ds_combined.red))

In [15]:
ds_combined

<xarray.Dataset>
Dimensions:   (time: 7, x: 1667, y: 1667)
Coordinates:
  * x         (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * y         (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06
  * time      (time) datetime64[ns] 1995-02-06T16:46:48 ... 1996-11-23T16:56:17
Data variables:
    crs       int32 -2147483647
    blue      (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    green     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    red       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    nir       (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir1     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    swir2     (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    pixel_qa  (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
    dataset   (time) |S4992 dask.array<chunksize=(7,), meta=np.ndarray>
    ndvi      (time, y, x) float32 dask.array<chunksize=(7, 1667, 1667), meta=np.ndarray>
Attributes:
    date_created:           2019-07-28T18:14:28.679958
    Conventions:            CF-1.6, ACDD-1.3
    history:                NetCDF-CF file created by datacube version '1.6.2...
    geospatial_bounds:      POLYGON ((-106.733088216692 25.6405170002933,-106...
    geospatial_bounds_crs:  EPSG:4326
    geospatial_lat_min:     25.18928191539932
    geospatial_lat_max:     25.654623994106128
    geospatial_lat_units:   degrees_north
    geospatial_lon_min:     -106.73308821669225
    geospatial_lon_max:     -106.21785297207995
    geospatial_lon_units:   degrees_east
    title:                  CONABIO Data Cube Landsat Surface Reflectance
    summary:                Landsat 5 TM surface reflectance processed by espa
    source:                 USGS
    institution:            CONABIO
    instrument:             TM
    cdm_data_type:          Grid
    keywords:               CONABIO,LANDSAT,TM,SURFACE REFLECTANCE
    keywords_vocabulary:    GCMD
    platform:               LANDSAT_5
    processing_level:       L2
    product_version:        0.0.1
    product_suite:          USGS Landsat Collection 1
    project:                MADMEX
    coverage_content_type:  physicalMeasurement
    references:             http://dx.doi.org/10.3334/ORNLDAAC/1146
    license:                https://creativecommons.org/licenses/by/4.0/
    naming_authority:       gov.usgs
    acknowledgment:         Landsat data is provided by the United States Geo...

In [16]:
ds_combined.time.values

array(['1995-02-06T16:46:48.000000000', '1995-03-10T16:45:31.000000000',
       '1995-11-21T16:34:45.000000000', '1996-01-24T16:39:02.000000000',
       '1996-03-12T16:42:17.000000000', '1996-11-07T16:55:32.000000000',
       '1996-11-23T16:56:17.000000000'], dtype='datetime64[ns]')

In [17]:
begin="1995-02-06"

In [18]:
begin_time = datetime.strptime(begin, '%Y-%m-%d')

In [19]:
ts_1 = ds_combined.ndvi.resample(time='80D', 
                                 loffset=begin_time - 
                                 datetime.utcfromtimestamp(ds_combined['time'][0].values.astype(datetime)*1e-9)).nearest().interpolate_na('time')

In [20]:
ts_1

<xarray.DataArray 'ndvi' (time: 9, y: 1667, x: 1667)>
dask.array<transpose, shape=(9, 1667, 1667), dtype=float32, chunksize=(9, 1667, 1667), chunktype=numpy.ndarray>
Coordinates:
  * time     (time) datetime64[ns] 1995-02-06 1995-04-27 ... 1996-11-07
  * x        (x) float64 2.027e+06 2.027e+06 2.027e+06 ... 2.077e+06 2.077e+06
  * y        (y) float64 1.527e+06 1.526e+06 1.526e+06 ... 1.477e+06 1.477e+06

In [21]:
ts_1['time']

<xarray.DataArray 'time' (time: 9)>
array(['1995-02-06T00:00:00.000000000', '1995-04-27T00:00:00.000000000',
       '1995-07-16T00:00:00.000000000', '1995-10-04T00:00:00.000000000',
       '1995-12-23T00:00:00.000000000', '1996-03-12T00:00:00.000000000',
       '1996-05-31T00:00:00.000000000', '1996-08-19T00:00:00.000000000',
       '1996-11-07T00:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1995-02-06 1995-04-27 ... 1996-11-07
Attributes:
    standard_name:  time
    long_name:      Time, unix time-stamp
    axis:           T

In [22]:
times=np.datetime_as_string(ts_1['time'],unit='D')

In [23]:
times

array(['1995-02-06', '1995-04-27', '1995-07-16', '1995-10-04',
       '1995-12-23', '1996-03-12', '1996-05-31', '1996-08-19',
       '1996-11-07'], dtype='<U28')

In [24]:
dframe_ts_1 = ts_1.to_dataframe()

/home/madmex_user/.local/lib/python3.6/site-packages/dask/core.py:119: RuntimeWarning: divide by zero encountered in true_divide
  return func(*args2)

In [25]:
dframe_ts_1

                                    ndvi
time       y         x
1995-02-06 1526525.0 2027385.0  0.390029
                     2027415.0  0.390029
                     2027445.0  0.390029
                     2027475.0  0.390029
                     2027505.0  0.390029
                     2027535.0  0.390029
                     2027565.0  0.390029
                     2027595.0  0.392562
                     2027625.0  0.354659
                     2027655.0  0.333333
                     2027685.0  0.349475
                     2027715.0  0.341421
                     2027745.0  0.392562
                     2027775.0  0.458697
                     2027805.0  0.484995
                     2027835.0  0.463816
                     2027865.0  0.478122
                     2027895.0  0.469679
                     2027925.0  0.501037
                     2027955.0  0.458697
                     2027985.0  0.504559
                     2028015.0  0.497164
                     2028045.0  0.442448
                     2028075.0  0.468026
                     2028105.0  0.342540
                     2028135.0  0.308581
                     2028165.0  0.335975
                     2028195.0  0.361118
                     2028225.0  0.383158
                     2028255.0  0.422477
...                                  ...
1996-11-07 1476545.0 2076495.0  0.468693
                     2076525.0  0.584862
                     2076555.0  0.574118
                     2076585.0  0.574118
                     2076615.0  0.560704
                     2076645.0  0.528560
                     2076675.0  0.551951
                     2076705.0  0.594625
                     2076735.0  0.578331
                     2076765.0  0.562710
                     2076795.0  0.561025
                     2076825.0  0.599600
                     2076855.0  0.645480
                     2076885.0  0.617174
                     2076915.0  0.581318
                     2076945.0  0.549724
                     2076975.0  0.480687
                     2077005.0  0.442509
                     2077035.0  0.458728
                     2077065.0  0.489395
                     2077095.0  0.506454
                     2077125.0  0.390215
                     2077155.0  0.275275
                     2077185.0  0.295469
                     2077215.0  0.438739
                     2077245.0  0.526520
                     2077275.0  0.526724
                     2077305.0  0.526724
                     2077335.0  0.626016
                     2077365.0  0.672973

[25010001 rows x 1 columns]

In [26]:
dframe_ts_1=dframe_ts_1.reset_index('time')

In [27]:
dframe_ts_1

                          time      ndvi
y         x
1526525.0 2027385.0 1995-02-06  0.390029
          2027415.0 1995-02-06  0.390029
          2027445.0 1995-02-06  0.390029
          2027475.0 1995-02-06  0.390029
          2027505.0 1995-02-06  0.390029
          2027535.0 1995-02-06  0.390029
          2027565.0 1995-02-06  0.390029
          2027595.0 1995-02-06  0.392562
          2027625.0 1995-02-06  0.354659
          2027655.0 1995-02-06  0.333333
          2027685.0 1995-02-06  0.349475
          2027715.0 1995-02-06  0.341421
          2027745.0 1995-02-06  0.392562
          2027775.0 1995-02-06  0.458697
          2027805.0 1995-02-06  0.484995
          2027835.0 1995-02-06  0.463816
          2027865.0 1995-02-06  0.478122
          2027895.0 1995-02-06  0.469679
          2027925.0 1995-02-06  0.501037
          2027955.0 1995-02-06  0.458697
          2027985.0 1995-02-06  0.504559
          2028015.0 1995-02-06  0.497164
          2028045.0 1995-02-06  0.442448
          2028075.0 1995-02-06  0.468026
          2028105.0 1995-02-06  0.342540
          2028135.0 1995-02-06  0.308581
          2028165.0 1995-02-06  0.335975
          2028195.0 1995-02-06  0.361118
          2028225.0 1995-02-06  0.383158
          2028255.0 1995-02-06  0.422477
...                        ...       ...
1476545.0 2076495.0 1996-11-07  0.468693
          2076525.0 1996-11-07  0.584862
          2076555.0 1996-11-07  0.574118
          2076585.0 1996-11-07  0.574118
          2076615.0 1996-11-07  0.560704
          2076645.0 1996-11-07  0.528560
          2076675.0 1996-11-07  0.551951
          2076705.0 1996-11-07  0.594625
          2076735.0 1996-11-07  0.578331
          2076765.0 1996-11-07  0.562710
          2076795.0 1996-11-07  0.561025
          2076825.0 1996-11-07  0.599600
          2076855.0 1996-11-07  0.645480
          2076885.0 1996-11-07  0.617174
          2076915.0 1996-11-07  0.581318
          2076945.0 1996-11-07  0.549724
          2076975.0 1996-11-07  0.480687
          2077005.0 1996-11-07  0.442509
          2077035.0 1996-11-07  0.458728
          2077065.0 1996-11-07  0.489395
          2077095.0 1996-11-07  0.506454
          2077125.0 1996-11-07  0.390215
          2077155.0 1996-11-07  0.275275
          2077185.0 1996-11-07  0.295469
          2077215.0 1996-11-07  0.438739
          2077245.0 1996-11-07  0.526520
          2077275.0 1996-11-07  0.526724
          2077305.0 1996-11-07  0.526724
          2077335.0 1996-11-07  0.626016
          2077365.0 1996-11-07  0.672973

[25010001 rows x 2 columns]

In [28]:
dframe_ts_1.index = [dframe_ts_1.index.get_level_values('y'),dframe_ts_1.index.get_level_values('x'),
                     dframe_ts_1.index.map('{0[0]}/{0[1]}'.format)]

In [29]:
dframe_ts_1

                                              time      ndvi
y         x
1526525.0 2027385.0 1526525.0/2027385.0 1995-02-06  0.390029
          2027415.0 1526525.0/2027415.0 1995-02-06  0.390029
          2027445.0 1526525.0/2027445.0 1995-02-06  0.390029
          2027475.0 1526525.0/2027475.0 1995-02-06  0.390029
          2027505.0 1526525.0/2027505.0 1995-02-06  0.390029
          2027535.0 1526525.0/2027535.0 1995-02-06  0.390029
          2027565.0 1526525.0/2027565.0 1995-02-06  0.390029
          2027595.0 1526525.0/2027595.0 1995-02-06  0.392562
          2027625.0 1526525.0/2027625.0 1995-02-06  0.354659
          2027655.0 1526525.0/2027655.0 1995-02-06  0.333333
          2027685.0 1526525.0/2027685.0 1995-02-06  0.349475
          2027715.0 1526525.0/2027715.0 1995-02-06  0.341421
          2027745.0 1526525.0/2027745.0 1995-02-06  0.392562
          2027775.0 1526525.0/2027775.0 1995-02-06  0.458697
          2027805.0 1526525.0/2027805.0 1995-02-06  0.484995
          2027835.0 1526525.0/2027835.0 1995-02-06  0.463816
          2027865.0 1526525.0/2027865.0 1995-02-06  0.478122
          2027895.0 1526525.0/2027895.0 1995-02-06  0.469679
          2027925.0 1526525.0/2027925.0 1995-02-06  0.501037
          2027955.0 1526525.0/2027955.0 1995-02-06  0.458697
          2027985.0 1526525.0/2027985.0 1995-02-06  0.504559
          2028015.0 1526525.0/2028015.0 1995-02-06  0.497164
          2028045.0 1526525.0/2028045.0 1995-02-06  0.442448
          2028075.0 1526525.0/2028075.0 1995-02-06  0.468026
          2028105.0 1526525.0/2028105.0 1995-02-06  0.342540
          2028135.0 1526525.0/2028135.0 1995-02-06  0.308581
          2028165.0 1526525.0/2028165.0 1995-02-06  0.335975
          2028195.0 1526525.0/2028195.0 1995-02-06  0.361118
          2028225.0 1526525.0/2028225.0 1995-02-06  0.383158
          2028255.0 1526525.0/2028255.0 1995-02-06  0.422477
...                                            ...       ...
1476545.0 2076495.0 1476545.0/2076495.0 1996-11-07  0.468693
          2076525.0 1476545.0/2076525.0 1996-11-07  0.584862
          2076555.0 1476545.0/2076555.0 1996-11-07  0.574118
          2076585.0 1476545.0/2076585.0 1996-11-07  0.574118
          2076615.0 1476545.0/2076615.0 1996-11-07  0.560704
          2076645.0 1476545.0/2076645.0 1996-11-07  0.528560
          2076675.0 1476545.0/2076675.0 1996-11-07  0.551951
          2076705.0 1476545.0/2076705.0 1996-11-07  0.594625
          2076735.0 1476545.0/2076735.0 1996-11-07  0.578331
          2076765.0 1476545.0/2076765.0 1996-11-07  0.562710
          2076795.0 1476545.0/2076795.0 1996-11-07  0.561025
          2076825.0 1476545.0/2076825.0 1996-11-07  0.599600
          2076855.0 1476545.0/2076855.0 1996-11-07  0.645480
          2076885.0 1476545.0/2076885.0 1996-11-07  0.617174
          2076915.0 1476545.0/2076915.0 1996-11-07  0.581318
          2076945.0 1476545.0/2076945.0 1996-11-07  0.549724
          2076975.0 1476545.0/2076975.0 1996-11-07  0.480687
          2077005.0 1476545.0/2077005.0 1996-11-07  0.442509
          2077035.0 1476545.0/2077035.0 1996-11-07  0.458728
          2077065.0 1476545.0/2077065.0 1996-11-07  0.489395
          2077095.0 1476545.0/2077095.0 1996-11-07  0.506454
          2077125.0 1476545.0/2077125.0 1996-11-07  0.390215
          2077155.0 1476545.0/2077155.0 1996-11-07  0.275275
          2077185.0 1476545.0/2077185.0 1996-11-07  0.295469
          2077215.0 1476545.0/2077215.0 1996-11-07  0.438739
          2077245.0 1476545.0/2077245.0 1996-11-07  0.526520
          2077275.0 1476545.0/2077275.0 1996-11-07  0.526724
          2077305.0 1476545.0/2077305.0 1996-11-07  0.526724
          2077335.0 1476545.0/2077335.0 1996-11-07  0.626016
          2077365.0 1476545.0/2077365.0 1996-11-07  0.672973

[25010001 rows x 2 columns]

In [30]:
dframe_ts_1.index.names = ['y', 'x','y/x']

In [31]:
dframe_ts_1=dframe_ts_1.reset_index('y/x')

In [32]:
dframe_ts_1

                                     y/x       time      ndvi
y         x
1526525.0 2027385.0  1526525.0/2027385.0 1995-02-06  0.390029
          2027415.0  1526525.0/2027415.0 1995-02-06  0.390029
          2027445.0  1526525.0/2027445.0 1995-02-06  0.390029
          2027475.0  1526525.0/2027475.0 1995-02-06  0.390029
          2027505.0  1526525.0/2027505.0 1995-02-06  0.390029
          2027535.0  1526525.0/2027535.0 1995-02-06  0.390029
          2027565.0  1526525.0/2027565.0 1995-02-06  0.390029
          2027595.0  1526525.0/2027595.0 1995-02-06  0.392562
          2027625.0  1526525.0/2027625.0 1995-02-06  0.354659
          2027655.0  1526525.0/2027655.0 1995-02-06  0.333333
          2027685.0  1526525.0/2027685.0 1995-02-06  0.349475
          2027715.0  1526525.0/2027715.0 1995-02-06  0.341421
          2027745.0  1526525.0/2027745.0 1995-02-06  0.392562
          2027775.0  1526525.0/2027775.0 1995-02-06  0.458697
          2027805.0  1526525.0/2027805.0 1995-02-06  0.484995
          2027835.0  1526525.0/2027835.0 1995-02-06  0.463816
          2027865.0  1526525.0/2027865.0 1995-02-06  0.478122
          2027895.0  1526525.0/2027895.0 1995-02-06  0.469679
          2027925.0  1526525.0/2027925.0 1995-02-06  0.501037
          2027955.0  1526525.0/2027955.0 1995-02-06  0.458697
          2027985.0  1526525.0/2027985.0 1995-02-06  0.504559
          2028015.0  1526525.0/2028015.0 1995-02-06  0.497164
          2028045.0  1526525.0/2028045.0 1995-02-06  0.442448
          2028075.0  1526525.0/2028075.0 1995-02-06  0.468026
          2028105.0  1526525.0/2028105.0 1995-02-06  0.342540
          2028135.0  1526525.0/2028135.0 1995-02-06  0.308581
          2028165.0  1526525.0/2028165.0 1995-02-06  0.335975
          2028195.0  1526525.0/2028195.0 1995-02-06  0.361118
          2028225.0  1526525.0/2028225.0 1995-02-06  0.383158
          2028255.0  1526525.0/2028255.0 1995-02-06  0.422477
...                                  ...        ...       ...
1476545.0 2076495.0  1476545.0/2076495.0 1996-11-07  0.468693
          2076525.0  1476545.0/2076525.0 1996-11-07  0.584862
          2076555.0  1476545.0/2076555.0 1996-11-07  0.574118
          2076585.0  1476545.0/2076585.0 1996-11-07  0.574118
          2076615.0  1476545.0/2076615.0 1996-11-07  0.560704
          2076645.0  1476545.0/2076645.0 1996-11-07  0.528560
          2076675.0  1476545.0/2076675.0 1996-11-07  0.551951
          2076705.0  1476545.0/2076705.0 1996-11-07  0.594625
          2076735.0  1476545.0/2076735.0 1996-11-07  0.578331
          2076765.0  1476545.0/2076765.0 1996-11-07  0.562710
          2076795.0  1476545.0/2076795.0 1996-11-07  0.561025
          2076825.0  1476545.0/2076825.0 1996-11-07  0.599600
          2076855.0  1476545.0/2076855.0 1996-11-07  0.645480
          2076885.0  1476545.0/2076885.0 1996-11-07  0.617174
          2076915.0  1476545.0/2076915.0 1996-11-07  0.581318
          2076945.0  1476545.0/2076945.0 1996-11-07  0.549724
          2076975.0  1476545.0/2076975.0 1996-11-07  0.480687
          2077005.0  1476545.0/2077005.0 1996-11-07  0.442509
          2077035.0  1476545.0/2077035.0 1996-11-07  0.458728
          2077065.0  1476545.0/2077065.0 1996-11-07  0.489395
          2077095.0  1476545.0/2077095.0 1996-11-07  0.506454
          2077125.0  1476545.0/2077125.0 1996-11-07  0.390215
          2077155.0  1476545.0/2077155.0 1996-11-07  0.275275
          2077185.0  1476545.0/2077185.0 1996-11-07  0.295469
          2077215.0  1476545.0/2077215.0 1996-11-07  0.438739
          2077245.0  1476545.0/2077245.0 1996-11-07  0.526520
          2077275.0  1476545.0/2077275.0 1996-11-07  0.526724
          2077305.0  1476545.0/2077305.0 1996-11-07  0.526724
          2077335.0  1476545.0/2077335.0 1996-11-07  0.626016
          2077365.0  1476545.0/2077365.0 1996-11-07  0.672973

[25010001 rows x 3 columns]

# 3 Compute features

In [33]:
from tsfresh.feature_extraction import extract_features, MinimalFCParameters

In [34]:
extracted_features = extract_features(dframe_ts_1, column_id="y/x", column_sort="time",
                                      default_fc_parameters=MinimalFCParameters())

Feature Extraction: 100%|██████████| 50/50 [07:33<00:00,  9.06s/it]

In [35]:
extracted_features

variable,ndvi__length,ndvi__maximum,ndvi__mean,ndvi__median,ndvi__minimum,ndvi__standard_deviation,ndvi__sum_values,ndvi__variance
id,,,,,,,,
1476545.0/2027385.0,9.0,0.782884,0.692244,0.703608,0.535948,0.071509,6.230193,0.005114
1476545.0/2027415.0,9.0,0.803297,0.742965,0.740030,0.640142,0.044604,6.686687,0.001990
1476545.0/2027445.0,9.0,0.813833,0.763692,0.771824,0.619089,0.054637,6.873225,0.002985
1476545.0/2027475.0,9.0,0.782884,0.729058,0.714496,0.606309,0.055419,6.561524,0.003071
1476545.0/2027505.0,9.0,0.851969,0.727328,0.704835,0.593485,0.076156,6.545949,0.005800
1476545.0/2027535.0,9.0,0.819737,0.710815,0.705534,0.585811,0.075162,6.397337,0.005649
1476545.0/2027565.0,9.0,0.763385,0.696970,0.685824,0.576625,0.052304,6.272728,0.002736
1476545.0/2027595.0,9.0,0.770807,0.714327,0.697941,0.621333,0.045868,6.428940,0.002104
1476545.0/2027625.0,9.0,0.780863,0.709454,0.721506,0.580505,0.060548,6.385083,0.003666
1476545.0/2027655.0,9.0,0.813833,0.718071,0.700901,0.619089,0.060494,6.462635,0.003660
1476545.0/2027685.0,9.0,0.784856,0.710920,0.713932,0.592953,0.054874,6.398277,0.003011
1476545.0/2027715.0,9.0,0.784856,0.714392,0.702670,0.600225,0.060060,6.429528,0.003607
1476545.0/2027745.0,9.0,0.803297,0.687226,0.664899,0.632917,0.063671,6.185034,0.004054
1476545.0/2027775.0,9.0,0.707778,0.620602,0.583294,0.574301,0.053211,5.585415,0.002831
1476545.0/2027805.0,9.0,0.705530,0.641852,0.657734,0.544696,0.055761,5.776671,0.003109
1476545.0/2027835.0,9.0,0.799267,0.736855,0.717496,0.696203,0.039237,6.631697,0.001540
1476545.0/2027865.0,9.0,0.836320,0.766258,0.759124,0.706767,0.040998,6.896319,0.001681
1476545.0/2027895.0,9.0,0.775064,0.718019,0.713932,0.675875,0.034050,6.462173,0.001159
1476545.0/2027925.0,9.0,0.756594,0.663673,0.645427,0.588481,0.058251,5.973056,0.003393
1476545.0/2027955.0,9.0,0.775570,0.680942,0.648432,0.618049,0.058335,6.128477,0.003403
1476545.0/2027985.0,9.0,0.722341,0.656632,0.625205,0.618049,0.041937,5.909689,0.001759
1476545.0/2028015.0,9.0,0.697867,0.617440,0.598418,0.541594,0.056466,5.556963,0.003188
1476545.0/2028045.0,9.0,0.817957,0.682251,0.643431,0.613040,0.076650,6.140257,0.005875
1476545.0/2028075.0,9.0,0.783765,0.690234,0.654730,0.648432,0.052283,6.212110,0.002734
1476545.0/2028105.0,9.0,0.757597,0.683699,0.664887,0.636364,0.041581,6.153287,0.001729
1476545.0/2028135.0,9.0,0.686740,0.648169,0.633910,0.593263,0.030383,5.833522,0.000923
1476545.0/2028165.0,9.0,0.722517,0.678797,0.664283,0.627937,0.040491,6.109170,0.001639
1476545.0/2028195.0,9.0,0.754556,0.710374,0.697390,0.673602,0.028700,6.393365,0.000824
1476545.0/2028225.0,9.0,0.768934,0.702123,0.696400,0.648338,0.039553,6.319107,0.001564
1476545.0/2028255.0,9.0,0.808236,0.737559,0.714819,0.706649,0.038624,6.638027,0.001492
...,...,...,...,...,...,...,...,...
1526525.0/2076495.0,9.0,0.620690,0.554547,0.561937,0.474408,0.052715,4.990927,0.002779
1526525.0/2076525.0,9.0,0.624017,0.564197,0.561937,0.502335,0.042395,5.077772,0.001797
1526525.0/2076555.0,9.0,0.548431,0.473702,0.469498,0.410791,0.050004,4.263320,0.002500
1526525.0/2076585.0,9.0,0.453985,0.355006,0.350030,0.268880,0.068312,3.195055,0.004667
1526525.0/2076615.0,9.0,0.443038,0.370318,0.412779,0.303659,0.058106,3.332862,0.003376
1526525.0/2076645.0,9.0,0.559245,0.458246,0.468034,0.377143,0.052713,4.124218,0.002779
1526525.0/2076675.0,9.0,0.603068,0.535547,0.547143,0.481902,0.038027,4.819920,0.001446
1526525.0/2076705.0,9.0,0.683782,0.648789,0.659981,0.589041,0.037313,5.839098,0.001392
1526525.0/2076735.0,9.0,0.626582,0.593750,0.586538,0.563055,0.021397,5.343746,0.000458
1526525.0/2076765.0,9.0,0.689756,0.611948,0.598695,0.550401,0.056869,5.507536,0.003234
1526525.0/2076795.0,9.0,0.700127,0.631900,0.647913,0.574359,0.050860,5.687102,0.002587
1526525.0/2076825.0,9.0,0.762336,0.670500,0.672574,0.611111,0.059765,6.034502,0.003572
1526525.0/2076855.0,9.0,0.624906,0.572644,0.585909,0.520367,0.032941,5.153800,0.001085
1526525.0/2076885.0,9.0,0.580742,0.482254,0.504087,0.413861,0.053984,4.340289,0.002914
1526525.0/2076915.0,9.0,0.487347,0.420559,0.463316,0.347810,0.054870,3.785028,0.003011
1526525.0/2076945.0,9.0,0.467589,0.425616,0.453985,0.373063,0.038808,3.830546,0.001506
1526525.0/2076975.0,9.0,0.528196,0.461345,0.481382,0.401411,0.040972,4.152107,0.001679
1526525.0/2077005.0,9.0,0.473514,0.442106,0.463316,0.392610,0.032224,3.978956,0.001038
1526525.0/2077035.0,9.0,0.474395,0.440979,0.451852,0.392610,0.029220,3.968813,0.000854
1526525.0/2077065.0,9.0,0.558875,0.509131,0.512195,0.448939,0.038743,4.582176,0.001501
1526525.0/2077095.0,9.0,0.605489,0.549867,0.561937,0.485849,0.040717,4.948803,0.001658
1526525.0/2077125.0,9.0,0.613608,0.574237,0.593670,0.489502,0.046198,5.168128,0.002134
1526525.0/2077155.0,9.0,0.636844,0.593164,0.593870,0.538051,0.033847,5.338477,0.001146
1526525.0/2077185.0,9.0,0.588186,0.553851,0.576306,0.493518,0.035460,4.984661,0.001257
1526525.0/2077215.0,9.0,0.578493,0.516859,0.530467,0.439129,0.048876,4.651731,0.002389
1526525.0/2077245.0,9.0,0.593959,0.523405,0.559144,0.428261,0.063053,4.710642,0.003976
1526525.0/2077275.0,9.0,0.639539,0.523692,0.546658,0.411164,0.080433,4.713225,0.006469
1526525.0/2077305.0,9.0,0.621390,0.516663,0.530619,0.375995,0.087422,4.649963,0.007643
1526525.0/2077335.0,9.0,0.671560,0.561817,0.593527,0.380181,0.105820,5.056355,0.011198
1526525.0/2077365.0,9.0,0.666554,0.572192,0.607523,0.419640,0.087897,5.149725,0.007726